<div>
    <div class="p-50px text-center" ng-if="vm.userPost.isLoadingPreview">
        <img class="w-50px h-50px" src="//am708403.azureedge.net/images/static/loading.gif?"/>
        <div class="clearfix m-bottom-5px"></div>
        <button class="mini-filled-gray" ng-click="vm.cancelUrlLoading()">CANCEL</button>
    </div>
    <div class="w-100pct h-300px border cover-center"
         ng-if="vm.userPost.urlPreview && vm.userPost.showPostImage && vm.userPost.previewThumb != ''" agms-image img-src="vm.userPost.previewThumb">
        <a ng-click="vm.disableShowPostImage()" ng-if="!vm.hideCloseBtn">
            <span class="glyphicon glyphicon-remove pull-right m-5px"></span>
        </a>
    </div>
    <div ng-if="vm.userPost.urlPreview && vm.userPost.showPostSummary && !vm.showOnlyImage" class="border white-box">
        <a ng-click="vm.disableShowPostSummary()" ng-if="!vm.hideCloseBtn">
            <span class="glyphicon glyphicon-remove pull-right p-5px"></span>
        </a>
        <div class="p-5px">
            <h4 class="ellipsis-nowrap"><span class="w-100px"><a ng-click="vm.goToLink(vm.userPost.postUrl)" ng-bind-html="vm.userPost.postTitleHtml"></a></span></h4>
            <span ng-if="vm.userPost.postDescriptionHtml != null" ng-bind-html="vm.userPost.postDescriptionHtml"></span>
            <div class="clearfix m-bottom-10px"></div>
            <span ng-if="vm.userPost.postDomainAuthorHtml != null" ng-bind-html="vm.userPost.postDomainAuthorHtml" />
        </div> 
    </div> 
</div>
  