<div class="footer-wrapper">
    <footer class="ssl">
        <div class="container row-md-11 row-sm-12 row-xs-12">
            <div class="col-md-2 col-sm-12 col-xs-12 no-padding text-center ssl-logo">
                <img src="//am708403.azureedge.net/images/partners/digicert-all.png?" class="m-15px h-50px" />
            </div>
            <div class="col-md-6 col-sm-12 col-xs-12 mini-text as-table ssl-message">
                <div class="as-table-cell va-mid">
                    With AlgoMerchant your account is secure. For your peace of mind, we use advanced firewalls and Secure Socket Layering (SSL) technology, automatic sign-out, and failed login limits to keep your personal information secure.
                    <div class="copy-right">
                        &copy; 2021 Algomerchant.com All Rights Reserved
                    </div>
                </div>
            </div>
            <div class="col-md-3 col-sm-12 col-xs-12 contact">
                <ul>
                    <li><a ng-click="vm.contactUs()">Feedback</a></li>
                    <li>
                        <a ng-click="vm.showDisclaimer()">Disclaimer</a>
                    </li>
                    <li>
                        <a href="//am708403.azureedge.net/pdf/AlgomerchantTerms&Conditions.pdf" target="_blank">Terms of Use</a>
                    </li>
                </ul>
                <div>
                    <span class="glyphicon glyphicon-earphone"></span> (+65) 6708 9337<br />
                    <span class="glyphicon glyphicon-envelope"></span> support@algomerchant.com
                </div>
            </div>
            <div class="clearfix"></div>
        </div>
    </footer>
</div>