<div>
    <!--DIRECTIVE positions.historical.html + agm*HistoricalPositions.js -->        
    <div ng-if="::(vm.levelOfDetail==='Preview')">
        Your subscription package does not include viewing of Active Position.
    </div>
    <div ng-if="::(vm.levelOfDetail!=='Preview')">
        <div class="p-50px text-center" ng-show="vm.isLoadingPositions">
            <img class="w-50px h-50px" src="//am708403.azureedge.net/images/static/loading.gif?" />
        </div>
        <div class="alert alert-info" ng-show="!vm.hasPositions() && !vm.searchProduct && !vm.isLoadingPositions">
            <span ng-if="vm.viewMode !== 'readonly'">{{vm.noPositionMessage}}</span>
            <span ng-if="vm.viewMode == 'readonly'">{{vm.noPositionMessageForGroupStrategy}}</span>
        </div>
        <div ng-show="(vm.hasPositions() || vm.searchProduct) && !vm.isLoadingPositions">
            <div class="pull-right search">
                <agms-product-search listen-on-resolve="vm.listenOnProductResolve"
                                     placeholder="SEARCH STOCK"
                                     search-products="vm.searchProducts"
                                     auto-select-on-single-search-result="true"
                                     on-product-selected="vm.onProductSelected">
                </agms-product-search>
            </div>
            <div class="clearfix m-bottom-10px"></div>
            <h4 class="text-center" ng-if="vm.searchProduct && vm.getPagedItems().length == 0">no results found</h4>
            <div ng-if="vm.getTotalItems() > 0">
                <ul uib-pagination boundary-links="true" total-items="vm.getTotalItems()" ng-model="vm.models.currentPage"
                    class="pagination-sm m-bottom-10px" previous-text="&lsaquo;" next-text="&rsaquo;"
                    first-text="&laquo;" last-text="&raquo;" max-size="10"
                    num-pages="vm.models.numPages" ng-show="vm.showPagination()"></ul>
                <div class="p-50px text-center" ng-show="!vm.isPageLoaded()">
                    <img class="w-50px h-50px" src="//am708403.azureedge.net/images/static/loading.gif?" />
                </div>
                <agms-positions-historical-table ng-show="vm.isPageLoaded()" is-by-account="vm.isByAccount"
                                                      get-paged-items="::vm.getPagedItems"
                                                      is-preview="vm.isPreview"
                                                      show-detail="true"></agms-positions-historical-table>
                <ul uib-pagination boundary-links="true" total-items="vm.getTotalItems()" ng-model="vm.models.currentPage"
                    class="pagination-sm m-bottom-10px" previous-text="&lsaquo;" next-text="&rsaquo;"
                    first-text="&laquo;" last-text="&raquo;" max-size="10"
                    num-pages="vm.models.numPages" ng-show="vm.showPagination()"></ul>
                <div class=" m-top-20px"></div>
            </div>
        </div>
    </div>
</div>
