<form id="login-panel" class="modal-content gateway" name="loginPanel">

    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true" ng-click="vm.uibDismissPanel()">&times;</button>
        <h4 class="modal-title" id="myModalLabel">Login</h4>
    </div>

    <div class="modal-body">
        <div ng-if="vm.coreUserStateService.hasPendingLogoutConfirmation" class="alert alert-info m-bottom-10px">
            You need to log in to view this page
        </div>
        <!-- MaRa: maintenance -->
        <div class="alert alert-info m-bottom-10px">
            Dear Members, some of you may experience slowness  while using our systems. Rest assured we are working on it by performing urgent maintenance. We expect our systems to operate normally by 6pm SG time or 10am GMT. We apologize for any inconvenience caused.
        </div>
        <div ng-switch="vm.state">
            <span ng-switch-when="1" class="gray-text">Authenticating...</span>
            <span ng-switch-when="2" class="green-profit">Login Successful</span>
            <span ng-switch-when="3" class="red-loss">{{vm.message}}</span>
        </div>

        <div class="form-group">
            <label for="example-search-input" class="col-2 col-form-label">Email</label>
            <input name="email" class="form-control" type="email" ng-model="vm.loginModel.UserName" ng-change="vm.userNameChanges()" ng-model-options="{debounce: 200}"/>
        </div>

        <div class="form-group" ng-if="!vm.isPasswordExpired">
            <label for="example-password-input" class="col-2 col-form-label">Password</label>
            <input class="form-control" ng-model="vm.loginModel.Password" type="password">
        </div>

        <div class="form-group" ng-if="vm.isPasswordExpired">
            As part of an enhancement to our security systems, you are required to change your password. We have sent an email to <b>{{vm.loginModel.UserName}}</b> with a unique link to update your password
            and re-activate your account. To resend this email, please click
            <a ng-click="vm.sendResetPassword()" href="">here</a>.
        </div>

        <a style="cursor: pointer" ng-click="vm.forgotPassword()">Forget Password ?</a>
    </div>

    <div class="modal-footer">
        <div class="float-L" style="margin-bottom:5px">
            Not yet registered?
            <a class="mini-filled-green" style="cursor: pointer" ng-click="vm.register()">Register</a>
        </div>
        <div class="clearfix"></div>
        <button type="button" class="hollow-blue" data-dismiss="modal" ng-click="vm.uibDismissPanel()">Close</button>
        <button class="filled-blue" ng-click="vm.submit()" ng-disabled="vm.preventSubmit()">Login</button>
    </div>
</form>
