<form name="resetPasswordForm" ng-submit="resetPasswordForm.$valid && vm.submit()" class="agm-page-gateway">
    <!-- TEMPLATE resetPassword.html + resetPassword.js -->
    <div class="modal-header">
        <button type="button" class="close" aria-hidden="true" ng-click="vm.uibDismissPanel()">&times;</button>
        <h4 class="modal-title">Reset Password</h4>
    </div>

    <div class="modal-body">
        <agmc-loading is-loading="vm.submitting"></agmc-loading>

        <div class="form-group row">
            <label class="col-2 col-form-label">Email</label>
            <input class="form-control" type="email" ng-model="vm.resetPasswordModel.Email" name="email" ng-change="vm.hideErrorMessage()" required />
            <div class="error-input" ng-show="resetPasswordForm.email.$dirty && resetPasswordForm.email.$invalid">Email is required.</div>
        </div>
        <div class="form-group row password-indicator-container">
            <label class="col-2 col-form-label">Password</label>
            <input class="form-control" ng-model="vm.resetPasswordModel.Password" ng-change="vm.evaluatePassword()" 
                   type="password" name="password" required />
            <div class="error-input" ng-show="vm.passwordMessage">{{vm.passwordMessage}}</div>
        </div>

        <div class="form-group row">
            <label class="col-2 col-form-label">Confirm Password</label>
            <input class="form-control" ng-model="vm.resetPasswordModel.ConfirmPassword" ng-change="vm.evaluatePassword()" 
                   type="password" name="confirmpassword" required />
            <div class="error-input" ng-show="resetPasswordForm.confirmpassword.$dirty && (resetPasswordForm.confirmpassword.$invalid || vm.resetPasswordModel.ConfirmPassword!=vm.resetPasswordModel.Password)">
                Passwords do not match!
            </div>
        </div>
        <div ng-if="vm.showGenericErrorMessage" class="alert alert-danger">
            The link to reset your password has expired.
            <a class="resend-email-link" ng-click="vm.resendEmail()">Click here</a> 
            to send a new Reset Password email to {{vm.resetPasswordModel.Email}}
        </div>
        <div ng-if="vm.showOldPasswordSameMessage" class="alert alert-danger">Your New Password cannot be the same as your old password.</div>
    </div>
    <div class="modal-footer">
        <button class="filled-blue btn btn-primary" ng-disabled="vm.disableSubmit()">Submit</button>
        <div class="clearfix"></div>
    </div>
</form>


