<div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true" ng-click="vm.uibDismissPanel()">&times;</button>
    <h4 class="modal-title" id="myModalLabel">Forgot Password</h4>
</div>

<div class="modal-body">
    <form class="p-20px" name="forgotPasswordForm">
        <div class="form-group row">
            <label for="example-search-input" class="col-2 col-form-label">Your Email </label>
            <input class="form-control" type="email" name="email" id="example-search-input" ng-model="vm.forgotPasswordModel.Email" required>
            <br />
            <span style="color:#ff6161" ng-show="forgotPasswordForm.email.$dirty && forgotPasswordForm.email.$invalid">Email is required.</span>
        </div>
    </form>
</div>

<div class="modal-footer">
    <button type="button" class="hollow-blue" data-dismiss="modal" ng-click="vm.uibDismissPanel()">CANCEL</button>
    <button type="button" class="filled-blue" ng-disabled="vm.submitting || forgotPasswordForm.email.$dirty && forgotPasswordForm.email.$invalid" ng-click="vm.submit(true)">EMAIL LINK</button>
</div>