<div class="agms-header">
    <div class="modal-header">
        <h4 class="modal-title">Verify Your Email</h4>
    </div>
    <div class="modal-body confirm-email-popup">
        To continue using the platform, we require you to verify your account via the email we sent earlier to you.
    </div>
    <div class="modal-footer">
        <button class="pull-right filled-blue" ng-click="vm.logout()">OK</button>
        <button class="pull-right filled-blue m-right-10px" ng-click="vm.resendEmail()">Resend Verification Email</button>
    </div>
</div>