<div class="modal-header">
    <button type="button" class="close" aria-hidden="true" ng-click="vm.uibDismissPanel()">&times;</button>
    <h4 class="modal-title">
        Change Password
    </h4>
</div>
<form class="modal-body" name="changePasswordForm" ng-submit="changePasswordForm.$valid && vm.submit()">
    <agmc-loading is-loading="vm.disableForm"></agmc-loading>
    <div ng-if="vm.message" class="m-bottom-10px">
        <span class="red-loss">{{vm.message}}</span>
    </div>
    <dl class="dl-horizontal form">
        <dt>Current Password</dt>
        <dd>
            <input class="w-200px" ng-change="vm.evaluateContent()" ng-model="vm.changePasswordModel.OldPassword" type="password" name="oldPassword" required ng-disabled="vm.disableForm" />
            <br />
            <span style="color: red" ng-show="vm.changePasswordModel.OldPasswordInvalidMessage">{{vm.changePasswordModel.OldPasswordInvalidMessage}}</span>
        </dd>
        <dt>New Password</dt>
        <dd class="rel">
            <input class="w-200px pull-left" ng-change="vm.clearConfirmPassword();vm.evaluateContent();" ng-model="vm.changePasswordModel.NewPassword" type="password" name="newPassword" required ng-disabled="vm.disableForm" />
            <span class="glyphicon glyphicon-ok-sign pull-left m-left-10px lh-25px verified" ng-if="vm.changePasswordModel.NewPasswordOk"></span>
            <div class="clearfix"></div>
            <span style="color: red" ng-show="vm.changePasswordModel.NewPasswordInvalidMessage">{{vm.changePasswordModel.NewPasswordInvalidMessage}}</span>
        </dd>
        <dt>Confirm New Password</dt>
        <dd class="rel">
            <input class="w-200px pull-left" ng-change="vm.evaluateContent()" ng-model="vm.changePasswordModel.ConfirmNewPassword" type="password" name="confirmNewPassword" required ng-disabled="vm.disableForm || !vm.changePasswordModel.NewPasswordOk" />
            <span class="glyphicon glyphicon-ok-sign pull-left m-left-10px lh-25px verified" ng-if="vm.changePasswordModel.ConfirmNewPasswordOk"></span>
            <div class="clearfix"></div>
            <span style="color: red" ng-show="vm.changePasswordModel.ConfirmNewPasswordInvalidMessage">{{vm.changePasswordModel.ConfirmNewPasswordInvalidMessage}}</span>
        </dd>
    </dl>
    <div class="separator-bottom m-top-20px m-bottom-10px h-0px"></div>
    <button class="filled-blue pull-right" ng-disabled="!vm.isValidModel() || !changePasswordForm.$valid || vm.submitting">SUBMIT</button>
    <div class="clearfix"></div>
</form>