<!-- TEMPLATE user.notification.new.html + user.notification.js -->
<div class="modal-header" ng-class="getHeaderClass()">
    <button type="button" class="close" aria-hidden="true" ng-click="vm.uibDismissPanel()" ng-if="!vm.notificationMessageModel.cannotDismiss">&times;</button>
    <h4 class="modal-title">{{vm.notificationMessageModel.title}}</h4>
</div>

<div class="modal-body">
    <div ng-bind-html="vm.notificationMessageModel.message"></div>
</div>

<div class="modal-footer">
    <button type="button" class="btn btn-primary" ng-repeat="optionButton in vm.notificationMessageModel.optionButtons"
            ng-click="vm.clickButtonWithId(optionButton.id);vm.close(optionButton.id)">
        {{optionButton.label}}
    </button>
</div>
