<div class="agms-templates price-alert-notification-box">
    <div class="m-top-5px h-80px">
        <div agms-image img-src="content.item.ImageUrl" class="m-top-15px m-5px cover-center pull-left w-50px h-50px"
             img-fallback-src="vm.getEncodedSectorUrl(content.item.Product.Sector.SectorName)"></div>
        <div class="pull-right w-200px">
            <div class="f-16px"><b>{{content.item.Title}}</b></div>
            <div class="f-14px">{{content.item.Content}}</div>
            <!--<h7 class="pull-right text-right gray-text m-right-5px">{{content.item.TimeStamp | timeSince}}</h7>-->
        </div>
    </div>
</div>