<div>
    <header class="fixed-header">
        <div class="header-top-shop forgot-password">
            <div class="container">
                <div class="row">
                    <div class="col-xs-12">
                        <div class="pull-center">
                            <ul class="shop-top-nav">
                                <li class=" hidden-xs">
                                    <a class="dropdown-toggle external" href="#!/"
                                       analytics-on="click" analytics-category="Landing" analytics-event="ForgotPasswordPage" analytics-label="ClickLogo" agmc-analytics-timestamp>
                                        <img src="//am708403.azureedge.net/images/algowinner/logo.png" alt="Algomerchant Logo" class="algobrand">
                                    </a>
                                </li>
                                <li>
                                    <a class="scroll" data-speed="700">Already a User?</a>
                                </li>
                                <li>
                                    <a href="#!/login"
                                       analytics-on="click" analytics-category="Landing" analytics-event="ForgotPasswordPage" analytics-label="ClickLoginNow" agmc-analytics-timestamp>
                                        <div class="login-btn btn btn-blue">Login Now</div>
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </header>
    
    <div class="forget-password-container">
        <div class="container">
            <div class="row forget-password-form">
                <div class="col-sm-6 col-sm-offset-3">
                    <div class="l-form-10-top">
                        <h2 class="bold-h text-center">Forgot your password?</h2>
                        <h4 class="text-center">We'll send you instructions for choosing a new password.</h4>
                    </div>
                    <div class="l-form-10-bottom">
                        <form role="form" name="forgotPasswordForm">
                            <div class="form-group">
                                <input type="email" placeholder="Your Email" class="form-control" name="email"
                                       ng-model="vm.forgotPasswordModel.Email" required="">
                            </div>
                            <div class="error-input" ng-show="forgotPasswordForm.email.$dirty && forgotPasswordForm.email.$invalid">
                                Please put a valid email.
                            </div>
                            <button class="login-btn  btn btn-blue" ng-disabled="vm.forgotPasswordModel.Email == '' || vm.submitting || forgotPasswordForm.email.$dirty && forgotPasswordForm.email.$invalid" ng-click="vm.submit(true)"
                                    analytics-on="click" analytics-category="Landing" analytics-event="ForgotPasswordPage" analytics-label="ClickSubmit" agmc-analytics-timestamp>Submit</button>
                        </form>
                        <div class="form-elements-divider"></div>
                        <div class="l-form-10-questions">
                            Having trouble?
                            Contact
                            <a href="mailto:support@algomerchant.com">support@algomerchant.com</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>