<div class="modal-header" >
    <button type="button" class="close" aria-hidden="true" ng-click="vm.uibDismissPanel()">&times;</button>
    <h4 class="modal-title">DELETE STOCK</h4>
</div>

<div class="modal-body">
    <div class="p-50px text-center" ng-show="vm.isSubmitting">
        <img class="w-50px h-50px" src="//am708403.azureedge.net/images/static/loading.gif?" />
    </div>

    <div class="p-bottom-10px" ng-show="!vm.isSubmitting">
        <div class="f-14px p-10px">Are you sure you want to remove this stock from your watchlist?</div>
        <button class="hollow-blue pull-right m-right-10px" ng-click="vm.uibDismissPanel()">CANCEL</button>
        <button class="filled-red pull-right m-right-10px" ng-click="vm.delete()">CONFIRM</button>
        <span class="clearfix"></span>
    </div>
</div>
