<div class="agm-component-tradersgps">
    <div class="modal-header">
        <button type="button" class="close" aria-hidden="true" ng-click="vm.uibDismissPanel()">&times;</button>
        <h4 class="modal-title">
            TradersGPS Risk Analysis
        </h4>
    </div>

    <div class="modal-body" style="width: 100%; float: left;" ng-if="vm.mode !== null">
        <div class="main-tabs">
            <div class="tab-1 hollow-blue" ng-class="{ 'btn-primary' : vm.currentTab == 'stock_risk' }">
                <button ng-click="vm.setTab('stock_risk')">STOCK RISK</button>
            </div>
            <div class="tab-2 hollow-blue" ng-class="{ 'btn-primary' : vm.currentTab == 'portfolio_risk' }">
                <button ng-click="vm.setTab('portfolio_risk')">PORTFOLIO RISK</button>
            </div>
            <div class="tab-3 hollow-blue" ng-class="{ 'btn-primary' : vm.currentTab == 'momentum_profiler' }">
                <button ng-click="vm.setTab('momentum_profiler')">MOMENTUM PROFILER</button>
            </div>
            <div class="tab-4 hollow-blue" ng-class="{ 'btn-primary' : vm.currentTab == 'trade_sizing' }">
                <button ng-click="vm.setTab('trade_sizing')">TRADE SIZING</button>
            </div>
        </div>

        <div class="tabs-data">
            <div ng-if="vm.currentTab == 'stock_risk'">
                <div class="tab-1-section">
                    <div class="left-section">
                        <div class="form">
                            <div class="w-100 f-l mb-20">
                                <div class="w-40 f-l">
                                    Symbol
                                </div>
                                <div class="w-60 f-r">
                                    <input class="f-r" 
                                        type="text" 
                                        placeholder="Search product" 
                                        ng-model="vm.stock_risk.symbol"
                                        ng-model-options="{debounce: 200}"
                                        uib-typeahead="product as product.Symbol for product in vm.searchProducts($viewValue)"
                                        typeahead-template-url="/App/shared/templates/shared.productSearch.generic.template.html"
                                        typeahead-wait-ms="200"
                                        typeahead-on-select="vm.showProduct(vm.stock_risk.symbol, 'stock_risk')">
                                </div>
                            </div>
                            <div class="w-100 f-l mb-20">
                                <div class="w-40 f-l">
                                    Benchmark
                                </div>
                                <div class="w-60 f-r">
                                    <input class="f-r" 
                                        type="text" 
                                        placeholder="Search product" 
                                        ng-model="vm.stock_risk.benchmark"
                                        ng-model-options="{debounce: 200}"
                                        uib-typeahead="product as product.Symbol for product in vm.searchProducts($viewValue)"
                                        typeahead-template-url="/App/shared/templates/shared.productSearch.generic.template.html"
                                        typeahead-wait-ms="200"
                                        typeahead-on-select="vm.showProductBenchMark(vm.stock_risk.benchmark, 'stock_risk')">
                                </div>
                            </div>
                            <div class="w-100 f-l mb-20">
                                <div class="w-40 f-l">
                                    Analysis Date
                                </div>
                                <div class="w-60 f-r">
                                    <div class="date-picker input-group pull-right risk-analyzer-date" style="width: 100%;">
                                        <input type="text" class="va-middle"
                                               uib-datepicker-popup="mediumDate" ng-model="vm.stock_risk.analysisDate" is-open="vm.stock_risk.dateOpened"
                                               datepicker-options="vm.dateOptions"
                                               ng-disabled="vm.stock_risk.dateSelectionMode!=1"
                                               ng-required="true" close-text="Close" ng-change="" />
                                        <button style="border-radius: 0;" type="button" ng-click="vm.stock_risk.setStockRiskAnalysisDateSelectionOpen()">
                                            <i class="glyphicon glyphicon-calendar"></i>
                                        </button>
                                    </div>
                                </div>
                            </div>
                            <div class="w-100 f-l">
                                <div class="w-40 f-l">
                                    Lookback Horizon
                                </div>
                                <div class="w-60 f-r">
                                    <input type="number" name="stock_risk_lookback_horizon" ng-model="vm.stock_risk.lookback_horizon" class="f-r">
                                </div>
                            </div>

                            <div class="w-100 f-l">
                                <div class="button-main">
                                    <button ng-click="vm.submitStockRisk()" class="btn-primary hollow-blue pull-left">ASSESS</button>                                    
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="right-section">
                        <table>
                            <thead>
                                <tr>
                                    <th ng-repeat="tableHeading in vm.stock_risk.tableHeadings">{{tableHeading}}</th>                                    
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>Correlation</td>
                                    <td>{{vm.convertToFixed(vm.stock_risk.table.ExpectedCorrelation)}}</td>
                                    <td>-</td>
                                </tr>
                                <tr>
                                    <td>Beta</td>
                                    <td>{{vm.convertToFixed(vm.stock_risk.table.Beta)}}</td>
                                    <td>-</td>
                                </tr>
                                <tr>
                                    <td>Sharpe Ratio</td>
                                    <td>{{vm.convertToFixed(vm.stock_risk.table.StockSharpeRatio)}}</td>
                                    <td>{{vm.convertToFixed(vm.stock_risk.table.BenchmarkSharpeRatio)}}</td>
                                </tr>
                                <tr>
                                    <td>Return</td>
                                    <td>{{vm.convertToFixed(vm.stock_risk.table.StockSharpeRatio)}}%</td>
                                    <td>{{vm.convertToFixed(vm.stock_risk.table.BenchmarkReturn)}}%</td>
                                </tr>
                            </tbody>
                        </table>
                        <div class="main-box">
                            <div class="main-box-container">
                                <div class="main-box-1">{{vm.stock_risk.volatility}}%</div>
                                <div class="main-box-2">VOLATILITY</div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div ng-if="vm.currentTab == 'portfolio_risk'">
                <div class="tab-2-section">
                    <div class="left-section">
                        <div class="form">
                            <div class="w-100 f-l mb-20">
                                <div class="w-40 f-l">
                                    Portfolio
                                </div>
                                <div class="w-60 f-r">
                                    <button ng-click="vm.loadConstructPortfolio()" class="btn-primary hollow-blue pull-right">CONSTRUCT</button>
                                </div>
                            </div>
                            <div class="w-100 f-l mb-20">
                                <div class="w-40 f-l">
                                    Benchmark
                                </div>
                                <div class="w-60 f-r">
                                    <input type="text" name="portfolio_risk_benchmark" ng-model="vm.portfolio_risk.benchmark" class="f-r">
                                </div>
                            </div>
                            <div class="w-100 f-l mb-20">
                                <div class="w-40 f-l">
                                    Analysis Date
                                </div>
                                <div class="w-60 f-r">
                                    <div class="date-picker input-group pull-right risk-analyzer-date" style="width: 100%;">
                                        <input type="text" class="va-middle"
                                               style="border: 1px solid #93a2b0; border-radius: 0;"
                                               uib-datepicker-popup="mediumDate" ng-model="vm.portfolio_risk.analysisDate" is-open="vm.portfolio_risk.dateOpened"
                                               datepicker-options="vm.dateOptions"
                                               ng-disabled="vm.portfolio_risk.dateSelectionMode!=1"
                                               ng-required="true" close-text="Close" ng-change="" />
                                        <button style="border-radius: 0;" type="button" ng-click="vm.portfolio_risk.setPortfolioRiskAnalysisDateSelectionOpen()">
                                            <i class="glyphicon glyphicon-calendar"></i>
                                        </button>
                                    </div>
                                </div>
                            </div>
                            <div class="w-100 f-l">
                                <div class="w-40 f-l">
                                    Lookback horizon
                                </div>
                                <div class="w-60 f-r">
                                    <input type="text" name="portfolio_risk_lookback_horizon" ng-model="vm.portfolio_risk.lookback_horizon" class="f-r">
                                </div>
                            </div>

                            <div class="w-100 f-l">
                                <div class="button-main">
                                    <button ng-click="vm.submitPortfolioRisk()" class="btn-primary hollow-blue pull-left">ASSESS</button>
                                </div>
                            </div>
                            
                        </div>
                    </div>
                    <div class="right-section">
                        <table>
                            <thead>
                                <tr>
                                <th></th>
                                <th>APPLE</th>
                                <th>SPY</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr ng-repeat="tableObj in vm.portfolio_risk.table">
                                    <td>{{tableObj.name}}</td>
                                    <td>{{tableObj.apple}}</td>
                                    <td>{{tableObj.spy}}</td>
                                </tr>
                            </tbody>
                        </table>
                        <div class="main-box">
                            <div class="main-box-container">
                                <div class="main-box-1">{{vm.portfolio_risk.volacity}}%</div>
                                <div class="main-box-2">VOLTALITY</div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="" ng-if="vm.currentTab == 'momentum_profiler'">
                <div class="tab-3-section">
                    <div class="left-section">
                        <div class="form">
                            <div class="w-100 f-l mb-20">
                                <div class="w-40 f-l">
                                    Symbol
                                </div>
                                <div class="w-60 f-r">
                                    <input class="f-r" 
                                        type="text" 
                                        placeholder="Search product" 
                                        ng-model="vm.momentum_profiler.symbol"
                                        ng-model-options="{debounce: 200}"
                                        uib-typeahead="product as product.Symbol for product in vm.searchProducts($viewValue)"
                                        typeahead-template-url="/App/shared/templates/shared.productSearch.generic.template.html"
                                        typeahead-wait-ms="200"
                                        typeahead-on-select="vm.showProduct(vm.momentum_profiler.symbol, 'momentum_profiler')">
                                </div>
                            </div>
                            <div class="w-100 f-l mb-20">
                                <div class="w-40 f-l">
                                    Direction
                                </div>
                                <div class="w-60 f-r">
                                    <select class="select-box" name="momentum_profiler_direction" ng-model="vm.momentum_profiler.direction" ng-options="d as d for d in vm.direction"></select>
                                </div>
                            </div>
                            <div class="w-100 f-l mb-20">
                                <div class="w-40 f-l">
                                    Analysis Date
                                </div>
                                <div class="w-60 f-r">
                                    <div class="date-picker input-group pull-right risk-analyzer-date" style="width: 100%;">
                                        <input type="text" class="va-middle"
                                               uib-datepicker-popup="mediumDate" ng-model="vm.momentum_profiler.analysisDate" is-open="vm.momentum_profiler.dateOpened"
                                               datepicker-options="vm.dateOptions"
                                               ng-disabled="vm.momentum_profiler.dateSelectionMode!=1"
                                               ng-required="true" close-text="Close" ng-change="" />
                                        <button style="border-radius: 0;" type="button" ng-click="vm.momentum_profiler.setMomentumProfilerAnalysisDateSelectionOpen()">
                                            <i class="glyphicon glyphicon-calendar"></i>
                                        </button>
                                    </div>
                                </div>
                            </div>
                            <div class="w-100 f-l">
                                <div class="w-40 f-l">
                                    Lookback Horizon
                                </div>
                                <div class="w-60 f-r">
                                    <input type="number" name="momentum_profiler_lookback_horizon" ng-model="vm.momentum_profiler.lookback_horizon" class="f-r">                                    
                                </div>
                            </div>

                            <div class="w-100 f-l">
                                <div class="button-main">
                                    <button ng-click="vm.submitMomentumProfiler()" class="btn-primary hollow-blue pull-left">ASSESS</button>
                                </div>
                            </div>
                            
                        </div>
                    </div>
                    <div class="right-section">
                        <div class="main-slider-text">
                            <div class="main-slider-section-1">
                                <span>MOMENTUM</span>
                                <div class="main-slider-section-1-text">{{vm.momentum_profiler.momentum}}%</div>
                            </div>
                            <div class="main-slider-section-2">
                                <span style="margin-right: 30px;">CONTRARIAN</span>
                                <div class="main-slider-section-2-text">{{vm.momentum_profiler.contrarian}}%</div>
                            </div>
                        </div>
                        <div class="main-slider">
                            <div class="progress">
                                <div class="progress-bar" role="progressbar" ng-style="{width: vm.momentum_profiler.momentum+'%'}" aria-valuenow="{{vm.momentum_profiler.momentum}}" aria-valuemin="0" aria-valuemax="100"></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="" ng-if="vm.currentTab == 'trade_sizing'">
                <div class="tab-4-section">
                    <div class="left-section">
                        <div class="form">
                            <div class="w-100 f-l mb-20">
                                <div class="w-40 f-l">
                                    Symbol
                                </div>
                                <div class="w-60 f-r">
                                    <input class="f-r" 
                                        type="text" 
                                        placeholder="Search product" 
                                        ng-model="vm.trade_sizing.symbol"
                                        ng-model-options="{debounce: 200}"
                                        uib-typeahead="product as product.Symbol for product in vm.searchProducts($viewValue)"
                                        typeahead-template-url="/App/shared/templates/shared.productSearch.generic.template.html"
                                        typeahead-wait-ms="200"
                                        typeahead-on-select="vm.showProduct(vm.trade_sizing.symbol, 'trade_sizing')">
                                </div>
                            </div>
                            <div class="w-100 f-l">
                                <div class="w-40 f-l">
                                    Relative Size
                                </div>
                                <div class="w-60 f-r">
                                    <div class="w-60 f-r">
                                        <select class="select-box" name="trade_sizing_relative_size" ng-model="vm.trade_sizing.relative_size" ng-options="rs as rs for rs in vm.relative_sizes"></select>
                                    </div>
                                </div>
                            </div>

                            <div class="w-100 f-l">
                                <div class="button-main">
                                    <button ng-click="vm.submitTradeSizing()" class="btn-primary hollow-blue pull-left">ASSESS</button>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="right-section">
                        <div class="main-box">
                            <div class="main-box-container">
                                <div class="main-box-1">{{vm.trade_sizing.trade_size}}%</div>
                                <div class="main-box-2">TRADE SIZE</div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    

    <div class="modal-footer">
        <!-- <button class="btn btn-primary pull-right" ng-click="vm.closePanel()">SAVE</button>
        <button class="hollow-blue m-right-10px pull-right" ng-click="vm.uibDismissPanel()">CANCEL</button>
        <div class="clearfix"></div> -->
    </div>
</div>
