<div>
    <div uib-dropdown>
        <button class="btn btn-block" type="button" uib-dropdown-toggle>
            {{vm.displayedLabel}}
            <span class="caret"></span>
        </button>

        <ul uib-dropdown-menu class="dropdown-menu">
            <li class="dropdown-header">Markets</li>
            <li ng-repeat="venue in vm.tradeVenueLocList">
                <a ng-click="vm.selectVenue(venue)">
                    {{venue.label}}
                </a>
            </li>
            <li role="separator" class="divider"></li>
            <li class="dropdown-header">Groups</li>
            <li>
                <a ng-click="vm.selectPredefinedWatchlist('US Blue Chips')">
                    US Blue Chips
                </a>
            </li>
            <li>
                <a ng-click="vm.selectPredefinedWatchlist('SG Liquid')">
                    SG Liquid
                </a>
            </li>
            <li>
                <a ng-click="vm.selectPredefinedWatchlist('US Potential Play')">
                    US Potential Play
                </a>
            </li>
            <li>
                <a ng-click="vm.selectPredefinedWatchlist('HK Potential Play')">
                    HK Potential Play
                </a>
            </li>
            <li ng-if="vm.watchlists.length>0"
                role="separator" class="divider"></li>
            <li ng-if="vm.watchlists.length>0"
                class="dropdown-header">Watchlists</li>
            <li ng-repeat="watchlist in vm.watchlists">
                <a ng-click="vm.selectWatchlist(watchlist)">
                    {{watchlist.WatchlistName}}
                </a>
            </li>
        </ul>
    </div>
</div>