<section class="fundamental-panel">
    <h1 class="title-section">FUNDAMENTALS</h1>
    <div class="row-md-2 gap-20px">
        <div class="col-md-1" ng-repeat="barChartObj in vm.barChartsArr">
            <div class="white-box">
                <h1>{{barChartObj.name}}</h1>
                <div class="row">
                    <div class="col-100" style="float: right;">
                        <div>
                            <button ng-class="{'mini-filled-blue': barChartObj.selectedType === 'annualy', 'mini-hollow-blue': barChartObj.selectedType !== 'annualy'}" style="margin-right: 5px" ng-click="vm.setSelectedType($index, 'annualy')" class="mini-filled-blue">
                                Annualy
                            </button>
                            <button ng-class="{'mini-filled-blue': barChartObj.selectedType == 'quarter', 'mini-hollow-blue': barChartObj.selectedType !== 'quarter'}" style="margin-right: 5px" ng-click="vm.setSelectedType($index, 'quarter')" class="mini-hollow-blue">
                                Quarterly
                            </button>                    
                        </div>
                    </div>
                </div>
                <div class="h-30px"></div>
                <table border="1" class="bar-chart-table">
                    <tr ng-repeat="grothTableObj in barChartObj.grothTable">
                        <td>{{grothTableObj}}</td>
                    </tr>
                </table>
                <div id={{barChartObj.container}}></div>
            </div>
        </div>        
        <div class="clearfix"></div>
    </div>
    <div style="margin: 20px 5px;">
        <div>
            <button
                ng-class="{'mini-filled-blue': vm.selectedTable === 'income', 'mini-hollow-blue': vm.selectedTable != 'income'}"
                style="margin-right: 5px" ng-click="vm.setSelectedTable('income')">
                Income statement
            </button>
            <button
                ng-class="{'mini-filled-blue': vm.selectedTable === 'balance', 'mini-hollow-blue': vm.selectedTable != 'balance'}"
                style="margin-right: 5px" ng-click="vm.setSelectedTable('balance')">
                Balance sheet
            </button>
            <button
                ng-class="{'mini-filled-blue': vm.selectedTable === 'cash', 'mini-hollow-blue': vm.selectedTable != 'cash'}"
                style="margin-right: 5px" ng-click="vm.setSelectedTable('cash')">
                Cash flow
            </button>
            <button
                ng-class="{'mini-filled-blue': vm.selectedTable === 'stats', 'mini-hollow-blue': vm.selectedTable != 'stats'}"
                style="margin-right: 5px" ng-click="vm.setSelectedTable('stats')">
                Statistics
            </button>
        </div>
    </div>
    <div ng-if="vm.selectedTable === 'income'">
        <table class="table-large">
            <thead>
                <tr>
                    <td>Currency: {{vm.productDetail.Product.Currency}}</td>
                    <td ng-repeat="annualIncomeStatementTableHeading in vm.annualIncomeStatementTableData.headings">{{annualIncomeStatementTableHeading}}</td>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="annualIncomeStatementTableName in vm.annualIncomeStatementTableData.name">
                    <td ng-if="annualIncomeStatementTableName !== 'StatementDate'">{{vm.getFullNameFromKey(annualIncomeStatementTableName)}}</td>
                    <td ng-if="annualIncomeStatementTableName !== 'StatementDate'" ng-repeat="annualIncomeStatementTableData in vm.annualIncomeStatementTableData.data">
                        <div>{{annualIncomeStatementTableData[annualIncomeStatementTableName]|priceNumberFormatter}}</div>
                        <div ng-if="annualIncomeStatementTableData.StatementDate !== null" class="green-profit">+6.70%</div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
    <div ng-if="vm.selectedTable === 'balance'">
        <table class="table-large">
            <thead>
                <td>Currency: {{vm.productDetail.Product.Currency}}</td>
                <td ng-repeat="annualBalanceSheetTableDataHeading in vm.annualBalanceSheetTableData.headings">{{annualBalanceSheetTableDataHeading}}</td>
            </thead>
            <tbody>
                <tr ng-repeat="annualBalanceSheetTableName in vm.annualBalanceSheetTableData.name" ng-if="annualBalanceSheetTableName !== 'StatementDate'">
                    <td >{{vm.getFullNameFromKey(annualBalanceSheetTableName)}}</td>
                    <td ng-repeat="annualBalanceSheetTableData in vm.annualBalanceSheetTableData.data">
                        <div>{{annualBalanceSheetTableData[annualBalanceSheetTableName]|priceNumberFormatter}}</div>
                        <div class="green-profit">+6.70%</div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
    <div ng-if="vm.selectedTable === 'cash'">
        <table class="table-large">
            <thead>
                <tr>
                    <td>Currency: {{vm.productDetail.Product.Currency}}</td>
                    <td ng-repeat="annualCashFlowTableHeading in vm.annualCashFlowTableData.headings">{{annualCashFlowTableHeading}}</td>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="annualCashFlowTableName in vm.annualCashFlowTableData.name">
                    <td ng-if="annualCashFlowTableName !== 'StatementDate'">{{vm.getFullNameFromKey(annualCashFlowTableName)}}</td>
                    <td ng-if="annualCashFlowTableName !== 'StatementDate'" ng-repeat="annualCashFlowTableData in vm.annualCashFlowTableData.data">
                        <div>{{annualCashFlowTableData[annualCashFlowTableName]|priceNumberFormatter}}</div>
                        <div ng-if="annualCashFlowTableData.StatementDate !== null" class="green-profit">+6.70%</div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
    <div ng-if="vm.selectedTable === 'stats'">
        <table class="table-large">
            <thead>
                <td>Currency: {{vm.productDetail.Product.Currency}}</td>
                <td ng-repeat="annualStatisticsTableHeading in vm.annualStatisticsTableData.headings track by $index">{{annualStatisticsTableHeading}}</td>               
            </thead>
            <tbody>
                <tr>
                    <td colspan="{{vm.annualStatisticsTableData.headings.length + 1}}">
                        <h4><bold>{{vm.annualStatisticsTableData.data.keySates.title}}</bold></h4>
                    </td>
                </tr>
                <tr ng-repeat="annualStatisticsKeyStateTableName in vm.annualStatisticsTableData.data.keySates.data track by $index">
                    <td>{{vm.getFullNameFromKey(vm.annualStatisticsTableData.data.keySates.headings[$index])}}</td>
                    <td ng-repeat="annualStatisticsKeyStateValues in annualStatisticsKeyStateTableName track by $index">
                        <div>{{annualStatisticsKeyStateValues|priceNumberFormatter}}</div>
                    </td>                 
                </tr>
                <tr>
                    <td colspan="{{vm.annualStatisticsTableData.headings.length + 1}}">
                        <h4><bold>{{vm.annualStatisticsTableData.data.ratios.title}}</bold></h4>
                    </td>
                </tr>
                <tr ng-repeat="annualStatisticsRatiosTableName in vm.annualStatisticsTableData.data.ratios.data track by $index">
                    <td>{{vm.getFullNameFromKey(vm.annualStatisticsTableData.data.ratios.headings[$index])}}</td>
                    <td ng-repeat="annualStatisticsRatiosValues in annualStatisticsRatiosTableName track by $index">
                        <div>{{annualStatisticsRatiosValues}}</div>
                    </td>                 
                </tr>                
            </tbody>
        </table>
    </div>
</section>