<section class="agm-component-product rel" ng-class="{'has-header':vm.hasHeader()}" ng-disabled="vm.showErrorMessage()">
    <agmc-loading is-loading="vm.isLoading()"></agmc-loading>

    <div ng-if="!vm.isLoading() && vm.showErrorMessage()" class="invalid-product">
        <h4 class="m-0px p-top-20px">No results found for this product: {{vm.symbol}}</h4>
    </div>
    
    <div ng-if="!vm.showErrorMessage()">
        <agmp-product-price-panel id="price-section" class="p-20px"></agmp-product-price-panel>
        <div class="clearfix"></div>
        <agmp-product-chart-panel id="chart-section" class="p-20px"></agmp-product-chart-panel>
        <div class="clearfix"></div>
        <agmp-product-sentiment-panel id="sentiment-section" class="p-20px"></agmp-product-sentiment-panel>
        <div class="clearfix"></div>
        <agmp-product-fundamental-panel id="fundamental-section" class="p-20px" ng-if="vm.TradeVenueLoc == 'US'"></agmp-product-fundamental-panel>
        <div class="clearfix"></div>
        <div class="p-20px" ng-if="!vm.isWarrants()">
            <div class="row-md-2 gap-20px">
                <div class="col-md-1">
                    <agmp-product-company-overview-panel id="overview-section"></agmp-product-company-overview-panel>
                    <agmp-product-related-company-panel id="competitors-section" ng-if="vm.showRelatedCompanies()"></agmp-product-related-company-panel>
                </div>
                <div class="col-md-1">
                    <agmp-product-news-panel id="news-section"></agmp-product-news-panel>
                </div>
                <div class="clearfix"></div>
            </div>
        </div>
    </div>

    <div>
        <agmp-product-sidebar-menu></agmp-product-sidebar-menu>
    </div>
</section>
