<section class="chart-panel">
    <h1 class="title-section p-0px">Chart</h1>
    <div class="white-box">
        <div class="chart_btn_outter d-flex justify-between">
            <div class="btn-group periodsizes pull-left chart_btns">
                <button ng-repeat="periodSize in vm.periodSizes" ng-click="vm.setPeriodSize(periodSize)" ng-class="{active:periodSize==vm.selectedPeriodSize}">{{periodSize.display}}</button>
            </div>
            <div agms-droid-helper-item="productPage.chartPanel.detailedChart" class="pull-right">
                <button class="view_detail_btn" ng-click="vm.viewDetailedChart()">View Detailed Chart<img src="/App/shared/image/newimages/arrow.svg"></button>
                <div class="clearfix"></div>
            </div>
        </div>
        <div agms-droid-helper-item="productPage.chartPanel.highChart">
            <highchart ng-if="vm.chart && vm.data.length>0" class="m-top-20px" config="vm.chart"></highchart>
        </div>
        <div ng-show="vm.data.length<=0">
            <h4 class="text-center"> Data is not available</h4>
        </div>
    </div>
</section>