<div class="company-overview-panel">
    <h1 class="title-section">Overview</h1>
    <div class="d-flex justify-between flex-wrap m-bottom-40px">
        <div class="overview_inner">
            <div class="scoring-boxes">
                <div class="scoring">
                    <h3>Sector</h3>
                    <h1 ng-if="vm.productDetail.Product.Sector.SectorName" class="smaller">{{vm.breakBySlash(vm.productDetail.Product.Sector.SectorName)}}</h1>
                </div>
                <div class="scoring">
                    <h3>Industry</h3>
                    <h1 ng-if="vm.productDetail.Product.Industry.IndustryName" class="smaller">{{vm.breakBySlash(vm.productDetail.Product.Industry.IndustryName)}}</h1>
                </div>
                <div class="scoring">
                    <h3>52-Weeks High</h3>
                    <h1 ng-if="!vm.productDetail.CompanyOverview.FiftyTwoWeeksHigh" class="special-text">N/A</h1>
                    <h1 class="green-profit" ng-if="vm.productDetail.CompanyOverview.FiftyTwoWeeksHigh">{{vm.productDetail.Product.Currency | currencySymbol}} {{vm.productDetail.CompanyOverview.FiftyTwoWeeksHigh}}</h1>
                </div>
                <div class="scoring">
                    <h3>52-Weeks Low</h3>
                    <h1 ng-if="!vm.productDetail.CompanyOverview.FiftyTwoWeeksLow" class="special-text">N/A</h1>
                    <h1 class="red-loss" ng-if="vm.productDetail.CompanyOverview.FiftyTwoWeeksLow">{{vm.productDetail.Product.Currency | currencySymbol}} {{vm.productDetail.CompanyOverview.FiftyTwoWeeksLow}}</h1>
                </div>
                <div class="scoring">
                    <h3>Market Cap</h3>
                    <h1 ng-if="!vm.productDetail.CompanyOverview.MarketCapitalization" class="special-text">N/A</h1>
                    <h1 class="special-text" ng-if="vm.productDetail.CompanyOverview.MarketCapitalization">{{vm.productDetail.Product.Currency | currencySymbol}} {{vm.productDetail.CompanyOverview.MarketCapitalization | largeAmountValue:2}}</h1>
                </div>
            </div>
        </div>
        <div class="overview_inner">
            <div class="description-box" ng-if="vm.productDetail.CompanyOverview.Description" is-clipping-active="!vm.productDetail.CompanyOverview.isContentExpanded" agmc-paragraph-clipper="vm.productDetail.CompanyOverview.Description" is-clipping-required="vm.productDetail.CompanyOverview.needClipping" max-line-count="5" >
                <!-- <p>
                    {{vm.productDetail.CompanyOverview.Description}}
                </p> -->
            </div>
            <div ng-if="vm.productDetail.CompanyOverview.needClipping">
                <a class="paralink" ng-if="!vm.productDetail.CompanyOverview.isContentExpanded" ng-click="vm.productDetail.CompanyOverview.isContentExpanded=!vm.productDetail.CompanyOverview.isContentExpanded">(Show More ...)</a>
                <a class="paralink" ng-if="vm.productDetail.CompanyOverview.isContentExpanded" ng-click="vm.productDetail.CompanyOverview.isContentExpanded=!vm.productDetail.CompanyOverview.isContentExpanded">(Show Less ...)</a>
            </div>

        </div>
        <div class="clearfix"> </div>
    </div>
</div>