

<div class="static-sidebar test">
    <button class="special">
        <img src="/App/shared/image/sidebar/side-logo.png">
    </button>
    <button class="side_active stroke">
        <span agmc-svg-loader svg-src="'/App/shared/image/sidebar/icon1.svg'"></span>
    </button>
    <button ng-click="vm.gotoSection('price-section')" uib-tooltip="Price" tooltip-placement="right" ng-disabled="vm.showErrorMessage()" class="fill">
        <span agmc-svg-loader svg-src="'/App/shared/image/sidebar/icon2.svg'"></span>
    </button>
    <button ng-click="vm.gotoSection('chart-section')" uib-tooltip="Chart" tooltip-placement="right" ng-disabled="vm.showErrorMessage()" class="fill">
        <span agmc-svg-loader svg-src="'/App/shared/image/sidebar/icon3.svg'"></span>
    </button>
    <button ng-click="vm.gotoSection('sentiment-section')" uib-tooltip="Sentiment" tooltip-placement="right" ng-if="!vm.isWarrants() && vm.TradeVenueLoc == 'US'" ng-disabled="vm.showErrorMessage()" class="fill">
        <span agmc-svg-loader svg-src="'/App/shared/image/sidebar/icon4.svg'"></span>
    </button>    
    <button ng-click="vm.gotoSection('fundamental-section')" uib-tooltip="Fundamentals" tooltip-placement="right" ng-if="vm.TradeVenueLoc == 'US'" ng-disabled="vm.showErrorMessage()" class="stroke">
        <span agmc-svg-loader svg-src="'/App/shared/image/sidebar/icon5.svg'"></span>
    </button>
    <button ng-click="vm.gotoSection('overview-section')" uib-tooltip="Overview" tooltip-placement="right" ng-if="!vm.isWarrants() && vm.TradeVenueLoc == 'US'" ng-disabled="vm.showErrorMessage()" class="stroke">
        <span agmc-svg-loader svg-src="'/App/shared/image/sidebar/icon6.svg'"></span>
    </button>
    
    <button ng-click="vm.gotoSection('news-section')" uib-tooltip="News" tooltip-placement="right" ng-if="!vm.isWarrants() && vm.showRelatedCompanies() && vm.TradeVenueLoc == 'US'" ng-disabled="vm.showErrorMessage()" class="stroke">
        <span agmc-svg-loader svg-src="'/App/shared/image/sidebar/icon7.svg'"></span>
    </button>
    <div class="footer-icons">
        <button class="fill">
            <span agmc-svg-loader svg-src="'/App/shared/image/sidebar/icon8.svg'"></span>
        </button>
        <button class="stroke">
            <span agmc-svg-loader svg-src="'/App/shared/image/sidebar/icon9.svg'"></span>
        </button>
        <div class="divider"></div>
        <button class="special">
            <img src="/App/shared/image/sidebar/user-img.png">
        </button>
    
    </div>
</div>
