<section class="sentiment-panel">
    <h1 class="title-section">Sentiment</h1>
    <div class="row-md-4 gap-20px sentimentscharts_outter">
        <div class="col-md-1 new_sentitable">
            <div class="news-box sentimental">
                <h1 class="table-chart-heading">News Sentiment</h1>
                <table border="1" class="sentiment-table">
                    <tr>
                        <th>Time</th>
                        <th>Score</th>
                        <th>Volume</th>
                    </tr>
                    <tr ng-repeat="newsSentimentObj in vm.newsSentiment">
                        <td>{{newsSentimentObj.NewsSentimentType}}</td>
                        <td ng-class="{'red-profit': newsSentimentObj.SentimentScore < 0, 'gray-profit': newsSentimentObj.SentimentScore >= 0 && newsSentimentObj.SentimentScore <= 0.5,'green-profit': newsSentimentObj.SentimentScore > 0.5}" >{{newsSentimentObj.SentimentScore|number:2}} 
                            <span class="green-profit" ng-if="newsSentimentObj.SentimentScore >0.5">Positive</span>
                            <span class="red-profit" ng-if="newsSentimentObj.SentimentScore <0">Negative</span>
                            <span class="gray-profit" ng-if="(newsSentimentObj.SentimentScore >= 0 && newsSentimentObj.SentimentScore <= 0.5)">Neutral</span>
                        </td>
                        <td class="gray-profit">{{newsSentimentObj.Volume|number:2}}
                            <span ng-if="newsSentimentObj.IsVolumeBreakout" class="volume-icon" agmc-svg-loader
                                svg-src="'/App/assets/icons/product/information.svg'" uib-tooltip="A Spike of Interest"
                                tooltip-placement="top">
                            </span>
                            <div class="spike_tooltip"><img src="/App/shared/image/newimages/not.svg" ng-if="newsSentimentObj.SentimentScore > 0 && newsSentimentObj.SentimentScore <= 0.5">
                                <span class="tooltiptext">A Spike of Interest</span>
                            </div>
                        </td>
                    </tr>
                </table>
            </div>
            <div class="tp-box" ng-if="vm.productDetail.Product.TradeVenueLoc === 'US' && vm.analystTargetPrice && vm.analystTargetPrice.AnalystTargetPrice">
                <h1 class="table-chart-heading">Analyst Target Price</h1>
                <div class="d-flex justify-between flex-wrap target_inner">
                    <div class="targrt-txt">
                        <div class="title">Target Price</div>
                        <div class="price">{{vm.productDetail.Product.TradeVenueLoc +"$" + " " + vm.analystTargetPrice.AnalystTargetPrice}}</div>
                    </div>
                    <div class="targrt-txt">
                        <div class="title">Current Price</div>
                        <div class="price green-price
                        
                        
                        ">{{vm.productDetail.Product.TradeVenueLoc+"$" + " " + vm.analystTargetPrice.CurrentPrice}} <img src="/App/shared/image/newimages/arrow_up.svg"></div>
                    </div>
                </div>
                <div class="clearfix"></div>
            </div>
        </div>
        <div class="col-md-2 rental_outter" ng-if="vm.productDetail.Product.TradeVenueLoc === 'US'">
            <div class="white-box m-bottom-25px">
                <uib-tabset>
                    <select class="phone_select" ng-change="vm.switchRetail()" ng-model="vm.selectedRetail">
                        <option value="retailInterest">Retail Interest</option>
                        <option value="retailSentiment">Retail Sentiment</option>
                    </select>
                    
                    <uib-tab heading="Retail Interest" ng-click="vm.changeRetailActivityChartPeriod()">
                        <div class="sentimental_select">
                            <select ng-change="vm.changeRetailActivityChartPeriod()"
                                ng-model="vm.selectedInterestPeriod"
                                ng-options="m for m in vm.retailInterestPeriods"></select>
                        </div>
                        <div id="retail_interest"></div>
                    </uib-tab>
                    <uib-tab heading="Retail Sentiment" ng-click="vm.changeRetailSentimentChartPeriod()" id="tabSecond">
                        <div class="sentimental_select">
                            <select ng-change="vm.changeRetailSentimentChartPeriod()"
                                ng-model="vm.selectedSentimentPeriod"
                                ng-options="m for m in vm.retailSentimentPeriods"></select>
                        </div>
                       
                        <div id="retail_sentiment"></div>
                    </uib-tab>
                </uib-tabset>
            </div>
        </div>
        <div class="col-md-1 anyalstic_chart" ng-if="vm.productDetail.Product.TradeVenueLoc === 'US'">
            <div class="white-box">
                <div class="analystic_heading">
                    <h1 class="table-chart-heading">Analyst Rating</h1>
                    <h2>2.3 <img src="/App/shared/image/newimages/star.svg"></h2>
                </div>
                <div class="h-30px"></div>
                <div id="analyst_rating"></div>
            </div>
        </div>
        
    </div>
</section>