<section class="fundamental-panel">
    <h1 class="title-section">FUNDAMENTALS</h1>
    <div class="row-md-2 gap-20px">
        <div class="col-md-1" ng-repeat="barChartObj in vm.barChartsArr">
            <div class="white-box">
                <h1>{{barChartObj.name}}</h1>
                <div class="row">
                    <div class="col-100" style="float: right;">
                        <div>
                            <button ng-class="{'mini-filled-blue': barChartObj.selectedType === 'annually', 'mini-hollow-blue': barChartObj.selectedType !== 'annually'}" style="margin-right: 5px" ng-click="vm.setSelectedType($index, 'annually')" class="mini-filled-blue">
                                Annually
                            </button>
                            <button ng-class="{'mini-filled-blue': barChartObj.selectedType == 'quarter', 'mini-hollow-blue': barChartObj.selectedType !== 'quarter'}" style="margin-right: 5px" ng-click="vm.setSelectedType($index, 'quarter')" class="mini-hollow-blue">
                                Quarterly
                            </button>                    
                        </div>
                    </div>
                </div>
                <div class="h-30px"></div>
                <table border="1" class="bar-chart-table">
                    <tr ng-repeat="grothTableObj in barChartObj.grothTable">
                        <td>{{grothTableObj}}</td>
                    </tr>
                </table>
                <div id={{barChartObj.container}}></div>
            </div>
        </div>        
        <div class="clearfix"></div>
    </div>
    <div style="margin: 20px 5px; width: 100%; float: left;">
        <div style="width: 50%; float: left;">
            <button
                ng-class="{'mini-filled-blue': vm.selectedTable === 'income', 'mini-hollow-blue': vm.selectedTable != 'income'}"
                style="margin-right: 5px" ng-click="vm.setSelectedTable('income')">
                Income statement
            </button>
            <button
                ng-class="{'mini-filled-blue': vm.selectedTable === 'balance', 'mini-hollow-blue': vm.selectedTable != 'balance'}"
                style="margin-right: 5px" ng-click="vm.setSelectedTable('balance')">
                Balance sheet
            </button>
            <button
                ng-class="{'mini-filled-blue': vm.selectedTable === 'cash', 'mini-hollow-blue': vm.selectedTable != 'cash'}"
                style="margin-right: 5px" ng-click="vm.setSelectedTable('cash')">
                Cash flow
            </button>
            <button
                ng-class="{'mini-filled-blue': vm.selectedTable === 'stats', 'mini-hollow-blue': vm.selectedTable != 'stats'}"
                style="margin-right: 5px" ng-click="vm.setSelectedTable('stats')">
                Statistics
            </button>
        </div>
        <div style="width: 50%; float: right; text-align: right;">
            <button
                ng-class="{'mini-filled-blue': vm.selectedTableType === 'annually', 'mini-hollow-blue': vm.selectedTableType != 'annually'}"
                style="margin-right: 5px" ng-click="vm.setSelectedTableType('annually')">
                Annually
            </button>
            <button
                ng-class="{'mini-filled-blue': vm.selectedTableType === 'quarterly', 'mini-hollow-blue': vm.selectedTableType != 'quarterly'}"
                style="margin-right: 5px" ng-click="vm.setSelectedTableType('quarterly')">
                Quarterly
            </button>            
        </div>
    </div>
    <div ng-if="vm.selectedTable === 'income'">
        <table class="table-large">
            <thead>
                <tr>
                    <td>Currency: {{vm.productDetail.Product.Currency}}</td>
                    <td ng-repeat="incomeStatementTableHeading in vm.incomeStatementTableData.headings track by $index">{{incomeStatementTableHeading}}</td>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="incomeStatementTableName in vm.incomeStatementTableData.name">
                    <td ng-if="incomeStatementTableName !== 'StatementDate'">{{vm.getFullNameFromKey(incomeStatementTableName)}}</td>                    
                    <td ng-if="incomeStatementTableName !== 'StatementDate'" ng-repeat="incomeStatementTableData in vm.incomeStatementTableData.data track by $index">
                        <div>{{incomeStatementTableData[incomeStatementTableName]|priceNumberFormatter}}</div>
                        <div ng-if="incomeStatementTableData.StatementDate !== null && $index !== 0" ng-class="{'green-profit' : ((vm.incomeStatementTableData.data[$index][incomeStatementTableName] - vm.incomeStatementTableData.data[$index-1][incomeStatementTableName]) / (vm.incomeStatementTableData.data[$index-1][incomeStatementTableName]) * 100).toFixed(2) > 0, 'red-loss' : ((vm.incomeStatementTableData.data[$index][incomeStatementTableName] - vm.incomeStatementTableData.data[$index-1][incomeStatementTableName]) / (vm.incomeStatementTableData.data[$index-1][incomeStatementTableName]) * 100).toFixed(2) <= 0}">
                            {{((vm.incomeStatementTableData.data[$index][incomeStatementTableName] - vm.incomeStatementTableData.data[$index-1][incomeStatementTableName]) / (vm.incomeStatementTableData.data[$index-1][incomeStatementTableName]) * 100).toFixed(2)}}%
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
    <div ng-if="vm.selectedTable === 'balance'">
        <table class="table-large">
            <thead>
                <td>Currency: {{vm.productDetail.Product.Currency}}</td>
                <td ng-repeat="balanceSheetTableDataHeading in vm.balanceSheetTableData.headings track by $index">{{balanceSheetTableDataHeading}}</td>
            </thead>
            <tbody>
                <tr ng-repeat="balanceSheetTableName in vm.balanceSheetTableData.name track by $index" ng-if="balanceSheetTableName !== 'StatementDate'">
                    <td >{{vm.getFullNameFromKey(balanceSheetTableName)}}</td>
                    <td ng-repeat="balanceSheetTableData in vm.balanceSheetTableData.data">
                        <div>{{balanceSheetTableData[balanceSheetTableName]|priceNumberFormatter}}</div>
                        <div class="green-profit">+6.70%</div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
    <div ng-if="vm.selectedTable === 'cash'">
        <table class="table-large">
            <thead>
                <tr>
                    <td>Currency: {{vm.productDetail.Product.Currency}}</td>
                    <td ng-repeat="cashFlowTableHeading in vm.cashFlowTableData.headings track by $index">{{cashFlowTableHeading}}</td>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="cashFlowTableName in vm.cashFlowTableData.name">
                    <td ng-if="cashFlowTableName !== 'StatementDate'">{{vm.getFullNameFromKey(cashFlowTableName)}}</td>
                    <td ng-if="cashFlowTableName !== 'StatementDate'" ng-repeat="cashFlowTableData in vm.cashFlowTableData.data track by $index">
                        <div>{{cashFlowTableData[cashFlowTableName]|priceNumberFormatter}}</div>
                        <div ng-if="cashFlowTableData.StatementDate !== null" class="green-profit">+6.70%</div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
    <div ng-if="vm.selectedTable === 'stats'">
        <table class="table-large">
            <thead>
                <td>Currency: {{vm.productDetail.Product.Currency}}</td>
                <td ng-repeat="statisticsTableHeading in vm.statisticsTableData.headings track by $index">{{statisticsTableHeading}}</td>               
            </thead>
            <tbody>
                <tr>
                    <td colspan="{{vm.statisticsTableData.headings.length + 1}}">
                        <h4><bold>{{vm.statisticsTableData.data.keySates.title}}</bold></h4>
                    </td>
                </tr>
                <tr ng-repeat="statisticsKeyStateTableName in vm.statisticsTableData.data.keySates.data track by $index">
                    <td>{{vm.getFullNameFromKey(vm.statisticsTableData.data.keySates.headings[$index])}}</td>
                    <td ng-repeat="statisticsKeyStateValues in statisticsKeyStateTableName track by $index">
                        <div>{{statisticsKeyStateValues|priceNumberFormatter}}</div>
                    </td>                 
                </tr>
                <tr>
                    <td colspan="{{vm.statisticsTableData.headings.length + 1}}">
                        <h4><bold>{{vm.statisticsTableData.data.ratios.title}}</bold></h4>
                    </td>
                </tr>
                <tr ng-repeat="statisticsRatiosTableName in vm.statisticsTableData.data.ratios.data track by $index">
                    <td>{{vm.getFullNameFromKey(vm.statisticsTableData.data.ratios.headings[$index])}}</td>
                    <td ng-repeat="statisticsRatiosValues in statisticsRatiosTableName track by $index">
                        <div>{{statisticsRatiosValues|number:2}}</div>
                    </td>                 
                </tr>                
            </tbody>
        </table>
    </div>
</section>