<section class="sentiment-panel">
    <h1 class="title-section">SENTIMENT</h1>
    <div class="row-md-2 gap-20px">
        <div class="col-md-1">
            <div class="white-box">
                <h1>News Sentiment</h1>
                <table border="1" class="sentiment-table">
                    <tr>
                        <td>&nbsp;</td>
                        <td>News Sentiment Score</td>
                        <td>News Volume</td>
                    </tr>
                    <tr ng-repeat="newsSentimentObj in vm.newsSentiment">
                        <td>{{newsSentimentObj.NewsSentimentType}}</td>
                        <td>{{newsSentimentObj.SentimentScore|number:2}}</td>
                        <td>{{newsSentimentObj.Volume|number:2}}
                            <span ng-if="newsSentimentObj.IsVolumeBreakout"><button class="volume-button">Volume Breakout</button></span>
                        </td>
                    </tr>
                </table>
            </div>
        </div>
        <!--<div class="col-md-1" ng-if="vm.productDetail.Product.TradeVenueLoc === 'US'">
            <div class="white-box">
                <h1>Retail Interest</h1>
                <div class="row-md-2">
                    <div class="col-md-1">
                        <select ng-change="vm.changeRetailActivityChartPeriod()" ng-model="vm.selectedPeriod" ng-options="m for m in vm.periods"></select>
                    </div>
                    <div class="col-md-1">
                        <div style="text-align: right; margin-right: 20px;">Retail Sentiment: {{vm.retailSentimentScore}}</div>
                    </div>
                </div>
                <div class="h-30px"></div>
                <div id="retail_buying_activity"></div>
            </div>
        </div>-->       
        <div class="col-md-1" ng-if="vm.productDetail.Product.TradeVenueLoc === 'US'">
            <div class="white-box">
                <h1>Analyst Rating</h1>
                <div class="h-30px"></div>
                <div id="analyst_rating"></div>
                <!-- <highchart class="m-top-20px" config="vm.chartConfig"></highchart> -->
                <div ng-if="vm.productDetail.Product.TradeVenueLoc !== 'US'">
                    <h4 class="text-center">Data is not available</h4>
                </div>
            </div>
        </div>
        <div class="col-md-1" ng-if="vm.productDetail.Product.TradeVenueLoc === 'US' && vm.analystTargetPrice && vm.analystTargetPrice.AnalystTargetPrice">
            <div class="white-box">
                <h1>Analyst Target Price</h1>
                <table border="1" class="sentiment-table">
                    <tr>
                        <td>Target Price</td>
                        <td>{{vm.productDetail.Product.Currency + " " + vm.analystTargetPrice.AnalystTargetPrice}}</td>
                    </tr>
                    <tr>
                        <td>Current Price</td>
                        <td>{{vm.productDetail.Product.Currency + " " + vm.analystTargetPrice.CurrentPrice}}</td>
                    </tr>
                </table>
            </div>
        </div>
        <div class="clearfix"></div>
    </div>
</section>