.agm-component-product {
    .rel;
    padding-left: 112px;
    background: #f8fbfd;
    min-height: 100%;
    min-width: 1200px;
    padding-right: 30px;
    padding-bottom: 95px;

    h3 {
        font-size: 23px;
    }

    .invalid-product {
        .abs;
        height: 100%;
        width: 100%;
        display: block;
        z-index: 1000;
        text-align: center;
    }

    .static-sidebar {
        position: fixed;
        top: 0;
        left: 0;
        width: 80px;
        height: 100%;
        box-shadow: 0 0 2px #dbdbdb;
        padding: 10px 8px;
        border-right: 1px solid #EAECF0;
        z-index: 10000000;
        background: #fff;

        button {
            border: none;
            background: transparent;
            /* width: 100%; */
            /* height: 48px; */
            /* width: 48px; */
            margin: 0px auto 4px;
            padding: 0px;
            display: block;

            &.fill {
                &:hover {
                    span {
                        svg {
                            path {
                                fill: #fff;
                            }
                        }
                    }
                }
            }

            &.stroke {
                &:hover {
                    span {
                        svg {
                            path {
                                stroke: #fff;
                            }
                        }
                    }
                }
            }

            &.special {
                // background: @gray2;
                background: transparent;
                padding: 0px;
                margin-bottom: 22px;

                &:hover {
                    background: transparent !important;
                }
            }

            span {
                width: 45px;
                height: 45px;
                background: transparent;
                padding: 0px;
                border-radius: 7px;
                display: flex;
                align-items: center;
                justify-content: center;

                .algo-icon {
                    fill: @persian;
                }
            }

            &:hover {
                background: #184376 !important;
                border-radius: 7px;

                >span[agmc-svg-loader] {
                    .algo-icon {
                        fill: @sunFlower;
                    }
                }
            }
        }

        .footer-icons {
            position: relative;
            top: 24%;

            .divider {
                border: 0.5px solid #D0D5DD;
                margin: 21px auto 20px;
            }
        }
    }

    &.has-header {
        padding-left: 60px;

        .static-sidebar {
            top: 120px;
            width: 70px;
            height: inherit;
            border-radius: 0 10px 10px 0;
            overflow: hidden;
        }
    }

    .white-box {
        background: #FFFFFF;
        border: 1px solid #EAECF0;
        box-shadow: 0px 4px 8px -2px rgba(16, 24, 40, 0.1), 0px 2px 4px -2px rgba(16, 24, 40, 0.06);
        border-radius: 8px;
        padding: 10px;

        h1 {
            margin: 0;
        }
    }

    .price-panel {
        margin-bottom: -30px;

        .white-box {
            height: 80px;

            .date-updated {
                .abs;
                bottom: 5px;
                right: 10px;
                margin: 0;
                font-size: 13px;
            }
        }

        .price-box {
            &.up {
                background: green;
                color: white;
            }

            &.down {
                background: red;
                color: white;
            }

            .volume-text {
                font-size: 14px;
                font-weight: 800;
                line-height: 20px;
                color: @deepBlue;
            }
        }

        .agms-directives.add-to-watchlist {
            h1 {
                margin: 0;
                font-size: 20px;
            }

            z-index: 10;
            position: fixed;
            background: white;
            padding: 10px;
            width: 400px;
            left:~'calc(50% - 200px)';
            top: 20px;
            box-shadow: 0 0 10px @grayMed1;
        }

        .logo {
            width: 80px;
            height: 80px;
            background-size: cover;
        }
    }

    .chart-panel {
        margin-bottom: -20px;

        >.white-box {
            padding: 20px 20px 0px 20px;
            min-height: 300px;

            .barsizes>button,
            .periodsizes>button {
                margin: 2px;
                padding: 0 10px;
                border: none;
                line-height: 30px;
                border-radius: 4px;
                background: white;
                color: black;
                font-size: 14px;
                border: 1px solid @grayLight1;

                &:hover,
                &.active {
                    background: @blueBasic;
                    color: white;
                }
            }
        }
    }

    .sentiment-panel {
        margin-bottom: -40px;
         .analystic_heading{
            display: flex;
            align-items: center;
            justify-content: space-between;
            padding: 16px;
            border: 1px solid #EAECF0;
            h2 {
                color: #184376;
                font-size: 20px;
                font-weight: 700;
                margin: 0;
                line-height: 30px;
            }
            h1{
                padding: 0 !important;
                border: unset !important;
            }
        }
        .sentimentscharts_outter {
            margin: 0 -15px;
        }

        .tp-box {
            background: #FFFFFF;
            border: 1px solid #EAECF0;
            box-shadow: 0px 4px 8px -2px rgba(16, 24, 40, 0.1), 0px 2px 4px -2px rgba(16, 24, 40, 0.06);
            border-radius: 8px;

            h1 {
                font-weight: 600 !important;
                font-size: 16px !important;
                line-height: 24px;
                color: #475467 !important;
                margin: 0 !important;
                padding: 16px;
                border-bottom: 1px solid #EAECF0;
            }

            .target_inner {
                padding: 21px 16px 32px;

                .targrt-txt {
                    width: 50%;
                }

                .title {
                    font-size: 11px;
                    color: #667085;
                    line-height: 15px;
                    font-weight: 600;
                }

                .price {
                    font-size: 24px;
                    font-weight: 700;
                    color: #184376;
                    line-height: 34px;
                    margin: 7px 0 0;
                    letter-spacing: 0;

                    &.green-price {
                        color: #12B76A !important;
                    }
                }
            }
        }

        .news-box {
            background: #FFFFFF;
            border: 1px solid #EAECF0;
            box-shadow: 0px 4px 8px -2px rgba(16, 24, 40, 0.1), 0px 2px 4px -2px rgba(16, 24, 40, 0.06);
            border-radius: 8px;
            margin-bottom: 20px;
            overflow: hidden;

            h1 {
                font-weight: 600 !important;
                font-size: 16px !important;
                line-height: 24px;
                color: #475467 !important;
                border-bottom: 1px solid #EAECF0;
                padding: 16px;
                height: unset;
                margin: 0;
            }

            .sentiment-table {
                border: unset !important;

                tr {
                    line-height: unset !important;

                    &:nth-child(even) {
                        background-color: #F2F6FC;
                    }

                    td {
                        color: #667085;
                        font-size: 12px;
                        line-height: 20px;
                        font-weight: 400;
                        padding: 12px 12px !important;
                        border: unset;
                        text-align: center;

                        &.green-profit {
                            color: #12B76A;
                            font-weight: 700;

                            span {
                                display: block;
                                font-weight: 600;
                                text-transform: capitalize;
                                line-height: 10px;
                            }
                        }

                        &.red-profit {
                            color: #F04438;
                            font-weight: 700;

                            span {
                                display: block;
                                font-weight: 600;
                                text-transform: capitalize;
                                line-height: 10px;
                            }
                        }

                        &.gray-profit {
                            color: #667085;
                            font-weight: 700;

                            span {
                                display: block;
                                font-weight: 600;
                                text-transform: capitalize;
                                line-height: 10px;
                            }
                        }


                    }

                    th {
                        color: #667085;
                        font-size: 13px;
                        font-weight: 700 !important;
                        height: unset !important;
                        padding: 13px 31px !important;
                        border: unset;
                        text-align: center;
                    }
                }

                .volume-icon {
                    display: inline-block;
                    cursor: pointer;

                    .algo-icon {
                        width: 15px;
                        height: 15px;
                        fill: #F97066;
                    }
                }

                .tooltip {
                    opacity: 1;

                    .tooltip-inner {
                        background-color: #F97066;
                    }
                }
            }
        }

        .white-box {
            padding: 0 !important;
            .rel;
            
            padding: 20px;
            box-shadow: 0px 4px 8px -2px rgba(16, 24, 40, 0.1), 0px 2px 4px -2px rgba(16, 24, 40, 0.06);
            border-radius: 8px;
            overflow: hidden;

            .sentiment-table {
                margin: 0 auto;
                width: auto;
                margin-left: auto;
                margin-right: auto;
                display: flex;
                height: 100%;
                justify-content: center;
                align-items: center;
                font-size: 18px;
                border: none;
            }

            .sentiment-table td,
            .sentiment-table th {
                font-weight: normal;
            }

            >h1 {
                font-size: 20px;
                margin-bottom: 5px;
            }

            .date-updated {
                .abs;
                top: 10px;
                right: 10px;
                margin: 0;
                font-size: 13px;
            }

            p {
                font-size: 20px;
                text-align: center;
                font-weight: 600;
            }

            .single-fundamental {
                text-align: center;
                padding-top: 50px;
            }
        }

        ul {
            margin-bottom: 45px;

            li {
                &.active a {
                    background: unset;
                    color: #184376 !important;
                    border-bottom: 2px solid #184376 !important;
                }

                a.nav-link {
                    color: #9BAEC6;
                    border: unset;
                    font-size: 18px;
                    letter-spacing: 0;
                    text-transform: capitalize;
                    font-weight: 600;
                    line-height: 24px;
                    padding: 18px 16px;
                    height: unset;
                    border-radius: unset;
                }
            }
        }

        .rental_outter {
            position: relative;
            ul{
                margin-bottom: 5px;
            }
            .sentimental_select {
                position: absolute;
                top: 14px;
                right: 16px;

                select {
                    color: #667085;
                    font-size: 12px;
                    font-weight: 600;
                    border: 1px solid #667085;
                    padding: 6px 4px;
                    border-radius: 9px;
                    outline: unset;
                }
            }
        }
        .phone_select {
            display: none;
        }
    }

    .fundamental-panel {
        margin-bottom: -40px;

        .tabbing-phone{
            display: none;
        }

        .outter_box_fundamental {
            margin: 0 -12px;
        }

        .fundamental_charts_outter {
            margin: 0 -15px;
        }

        .col-md-1.ng-scope {
            margin: 0 0 26px;
        }

        .white-box {
            height: 100% !important;
            min-height: 580px;  
        }

        .white-box {
            .rel;
            height: 700px;
            padding: 0;
            overflow: hidden;

            >h1 {
                font-size: 20px;
                margin-bottom: 5px;
            }

            .bar-chart-table {
                margin: 0 auto;
                width: auto;
                justify-content: center;
                align-items: center;
                font-size: 18px;
                border: none;
                float: right;
                margin-bottom: 30px;
            }

            .bar-chart-table td,
            .bar-chart-table th {
                font-weight: normal;
            }

            .date-updated {
                .abs;
                top: 10px;
                right: 10px;
                margin: 0;
                font-size: 13px;
            }

            p {
                font-size: 20px;
                text-align: center;
                font-weight: 600;
            }

            .single-fundamental {
                text-align: center;
                padding-top: 50px;
            }
        }

        .income_tabbing_outter {
            border: 1px solid #EAECF0;
            box-shadow: 0 0 16px #0003;
            background: #fff;
            border-radius: 10px;
            overflow: hidden;

            .tabbing_heading {
                width: 100%;
                border-bottom: 1px solid #EAECF0;
            }

            border: 1px solid #EAECF0;
            box-shadow: 0 0 2px #0003;
            background: #fff;
            border-radius: 10px;

            .tabbibng_btn {
                color: #9BAEC6;
                border: unset;
                font-size: 18px;
                letter-spacing: 0;
                text-transform: capitalize;
                font-weight: 600;
                line-height: 24px;
                padding: 18px 16px;
                height: unset;
                border-radius: unset;

                &.mini-filled-blue {
                    background: unset;
                    color: #184376;
                    border-bottom: 2px solid #184376;
                }
            }

            .table-large {
                border: unset;
                
                thead {
                    background: #fff !important;

                    td {
                        color: #667085;
                        font-size: 13px;
                        font-weight: 700;
                        padding: 13px 24px !important;
                        min-width: 130px;
                    }
                }

                tbody {
                    tr {
                        &:nth-child(even) {
                            background-color: #F2F6FC;
                        }

                        td {
                            color: #667085;
                            font-size: 15px;
                            line-height: 20px;
                            font-weight: 400;
                            padding: 18px 24px !important;

                            .ng-binding {
                                color: #667085;
                                font-size: 12px;
                                font-weight: 700;
                            }

                            .ng-binding.ng-scope.green-profit {
                                color: #12B76A;
                            }
                        }
                    }
                }
            }
            .statics{
                .table-large{
                    tbody {
                        tr{
                            &:nth-child(even){
                                background-color: unset;
                            }
                            &:nth-child(odd){
                                background-color: #F2F6FC;
                            }
                        }
                    }
                    h4{
                        margin:0;
                    }
                }
            }

        }

        .fundamental_heading {
            border-bottom: 1px solid #EAECF0;
            padding: 16px;

            .table-chart-heading {
                border: unset;
                padding: 0;
            }
        }

        .inner_box_fundamental {
            width: 50%;
            padding: 0 12px;

            .inner_box_txt {
                border: 1px solid #EAECF0;
                box-shadow: 0 0 2px #0003;
                border-radius: 10px;
                overflow: hidden;
                background:#fff;
            }
        }

        .inner_box_txt {
            .radio_tabbing {
                border-bottom: 1px solid #EAECF0;
            }

            .radio_tab_body {
                table {
                    border: unset;

                    thead {
                        background: #fff;

                        th {
                            color: #446791;
                            font-size: 14px;
                            font-weight: 700 !important;
                            padding: 18px 24px !important;
                        }
                    }

                    tbody {
                        tr {
                            &:nth-child(odd) {
                                background-color: #F2F6FC;
                            }

                            &:nth-child(even) {
                                background-color: #fff;
                            }

                            td {
                                color: #344054;
                                font-size: 15px;
                                font-weight: 500;
                                padding: 37px 19px;

                                &:nth-child(1) {
                                    color: #667085;
                                }

                                &.green-feild {
                                    color: #12B76A !important;
                                }

                                &.red-feild {
                                    color: #F97066;
                                }

                                img {
                                    margin-left: 7px;
                                }
                            }
                        }
                    }
                }
            }
        }

        .chart_dropdown {
            padding: 12px 24px;

            select {
                color: #667085;
                font-size: 12px;
                font-weight: 600;
                border: 1px solid #D0D5DD;
                padding: 8px 13px;
                border-radius: 9px;
                outline: unset;
                margin: 0 0 8px;
            }

            .chart_dropdown_btn {
                a {
                    color: #2DA89E;
                    font-size: 12px;
                    font-weight: 600;
                    background: #C9F4F0;
                    padding: 5px 8px;
                    border-radius: 30px;
                    display: inline-block;
                    text-decoration: unset;
                    span {
                        font-size: 11px;
                        font-weight: 600;
                        color: #446791;
                    }
                }
                &.negative_dd_btn{
                    a{
                        color:#F04438;
                        background:#FEE4E2;
                    }
                }
            }
        }
    }

    



    .related-company-panel {
        margin-bottom: -20px;

        .related_outter {
            display: flex;
            flex-wrap: wrap;
        }

        .white-box {
            padding: 14px 6px;
            min-height: 230px;
            box-shadow: 0 0 18px rgba(0, 0, 0, 0.10) !important;
            border: unset !important;
            height: 100%;

            .company-header {
                padding: 10px;


                h1 {
                    font-size: 17px;
                    color: #667085;
                    font-weight: 600;
                    line-height: 24px;
                }
            }

            .company-description {
                padding: 10px;
            }
        }

        .special-text {
            font-size: 18px;
            color: #101828;
            font-weight: 700;
            line-height: 22px;
        }

        .percentage {
            
            font-size: 14px;
            margin: 0;
            font-weight: 600;
            line-height: 20px;
            &.green-profit{
                color: #009A7F;
            }
            &.red-profit{
                color: #F97066;

            }
        }

        .paratext {
            font-size: 14px;
            font-weight: 400;
            line-height: 20px;
            color: #667085;
        }

        .paralink {
            color: #184376;
            font-size: 14px;
            font-weight: 600;
            line-height: 20px;
            display: block;
            margin: 11px 0 0;
            text-decoration: unset;
        }
    }

    .company-overview-panel {
        a.paralink {
            color: #184376;
            font-size: 14px;
            font-weight: 600;
            line-height: 20px;
            display: block;
            margin: 11px 0 0;
            text-decoration: unset;
        }
        p {
            font-size: 15px;
            color: #667085;
            font-weight: 400;
            line-height: 28px;
        }

        .scoring-boxes {
            background: #FFFFFF;
            border-radius: 8px;
            padding: 15px;
            box-shadow: 0 0 18px rgba(0, 0, 0, 0.1) !important;
            height: 100%;

            .scoring {
                h1 {
                    font-size: 28px;
                    margin: 0;

                    &.smaller {
                        font-size: 19px;
                        font-weight: 700;
                        line-height: 28px;
                        margin: 0 0 20px;
                    }
                }

                .green-profit {
                    color: #32D583;
                    font-size: 20px !important;
                    font-weight: 700;
                    line-height: 30px;
                    margin: 0 0 15px;
                }

                .red-loss {
                    color: #F04438;
                    font-size: 20px !important;
                    font-weight: 700;
                    line-height: 30px;
                    margin: 0 0 15px;
                }

                h3 {
                    font-size: 15px;
                    color: #667085;
                    margin: 0 0 3px;
                    font-weight: 600;
                }

                .special-text {
                    font-size: 21px !important;
                    font-weight: 700;
                    line-height: 28px;
                    color: #1D2939;
                }

            }
        }

        .description-box {
            background: #FFFFFF;
            box-shadow: 0 0 18px rgba(0, 0, 0, 0.1) !important;
            border-radius: 8px;
            padding: 15px;
            font-size: 16px;
            height:100%;
        }

        .overview_inner {
            width: 47.5%;
        }
    }

    .news-panel {
        .white-box {
            padding: 0px;
            .divider {
                border: 1px solid #e4eaf0;
                margin: 0px auto 6px;
            }
        }

        .news-content {
            padding: 10px 16px 9px;
            background: white;
            border-top: 1px solid #e4eaf0;
            cursor: pointer;

            .news-title {
                font-size: 14px;
                color: #184376;
                font-weight: 500;
                width: 79%;
                white-space: nowrap;
                overflow: hidden;
                text-overflow: ellipsis;
            }

            .news-date {
                float: right;
            }

            .special-text {
                color: #98A2B3;
                font-weight: 600;
                font-size: 12px;
                width: 21%;
                text-align: right;
            }
            
        }

        ul {
            width: 100%;
            display: flex;
            justify-content: center;
            height: unset;
            padding: 0 0 8px;

            li {
                /* &.pagination-prev {
                    display: none;
                }

                &.pagination-next {
                    display: none;
                } */

                &.disabled {
                    background: unset;
                    color: unset;
                }

                a {
                    color: #667085;
                    border: none;
                    height: 40px;
                    width: 40px;
                    border-radius: 5px;
                    font-size: 14px;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                }

                &.active {
                    a {
                        background: #F2F6FC;
                        color: #667085;
                    }
                }

                &:hover {
                    a {
                        background: #F2F6FC;
                        color: #667085;
                    }
                }

                a {
                    height: 36px;
                }
            }
        }

        li {
            &.pagination-prev {
                
                    a {
                        color: #667085;
                        height: 36px;
                        width: 117px;
                        border-radius: 5px;
                        font-size: 0;
                        border: 1px solid #D0D5DD;
                        text-align: center;

                        &:after {
                            content: 'Previous';
                            font-size: 14px;
                            letter-spacing: 0;
                            color: #98A2B3;
                            background: url(//am708403.blob.core.windows.net/images/productpage/rightarrow.svg);
                            background-repeat: no-repeat;
                            background-position: left 12px top 7px;
                            width: 100%;
                            padding-left: 20px;
                        }
                    }
                
            }

            &.pagination-next {
               
                    a {
                        color: #667085;
                        height: 36px;
                        width: 91px;
                        border-radius: 5px;
                        font-size: 0;
                        border: 1px solid #D0D5DD;
                        text-align: center;

                        &:after {
                            content: 'Next';
                            font-size: 14px;
                            letter-spacing: 0;
                            color: #344054;
                            background: url(//am708403.blob.core.windows.net/images/productpage/leftarrow.svg);
                            background-repeat: no-repeat;
                            background-position: right 12px top 7px;
                            width: 100%;
                            padding-right: 20px;
                        }
                    }
                
            }

        }

        .upcoming_event_inner {
            padding: 24px 44px;

            &.release_date {
                border-bottom: 1px solid #e4eaf0;
                margin: 0 0 20px;
                padding-bottom: 20px;

                h2 {
                    color: #184376;
                }
            }

            &.forcast_date h2 {
                color: #2DA89E;
            }

            h4 {
                font-size: 15px;
                color: #667085;
                font-weight: 600;
                margin: 0;

            }

            h2 {

                font-size: 30px !important;
                font-weight: 700;
                line-height: 30px;
                margin: 0;
            }
        }

    }

    h1.title-section {
        font-size: 21px;
        margin-bottom: 16px;
        line-height: 30px;
        font-weight: 600;
        color: #344054
    }

    /***** Price Css Start *****/
    .price_boxes_outter {
        

        .price_boxes {
            width: 24%;

            @media (max-width:767px) {
                width: 100%;
                margin: 0 0 10px;
            }

            .price_boxes_inner {
                background: #fff;
                border-radius: 10px;
                border: 1px solid #EAECF0;
                box-shadow: 0 0 2px #0003;
                padding: 16px 32px 16px 16px;
                height: 100%;

                &.today_range {
                    h3 {
                        font-size: 20px !important;
                    }
                }

                h4 {
                    color: #475467;
                    font-size: 15px;
                    font-weight: 600;
                    line-height: 20px;
                }

                .price_txt_lft {
                    h3 {
                        color: #184376;
                        font-size: 24px;
                        line-height: 32px;
                        font-weight: 700;
                    }

                    h5 {
                        color: #667085;
                        font-size: 11px;
                        line-height: 15px;
                        font-weight: 600;
                    }
                }

                .price_btn {
                    padding: 10px 15px;
                    border-radius: 6px;

                    &.buy_btn {
                        background-color: #184376;
                    }

                    &.sell_btn {
                        background-color: #018C81;
                    }

                    a {
                        color: #F2F6FC;
                        font-size: 15px;
                        font-weight: 500;
                        text-decoration: unset;
                    }
                }
            }

        }
    }

    /***** Chart Css Start *****/
    #chart-section {
        .white-box {
            padding: 0 !important;

            .chart_btn_outter {
                border-bottom: 1px solid #EBE9F1;
                padding: 12px 16px;
                margin: 0 0 10px;

                .chart_btns {
                    box-shadow: 0px 1px 2px rgba(16, 24, 40, 5%);

                    button {
                        margin: 0 !important;
                        border-radius: unset !important;
                        background: #fff !important;
                        color: #667085 !important;
                        font-size: 13px !important;
                        font-weight: 600 !important;
                        padding: 10px 16px !important;
                        line-height: 13px !important;
                        border: 1px solid #D0D5DD !important;

                        &.active {
                            color: #101828 !important;
                            background: #F9FAFB !important;
                        }

                        &:nth-child(1) {
                            border-top-left-radius: 7px !important;
                            border-bottom-left-radius: 7px !important;
                            border-right: unset !important;
                        }

                        &:last-child {
                            border-top-right-radius: 7px !important;
                            border-bottom-right-radius: 7px !important;
                            border-left: unset !important;
                        }
                    }
                }
            }
        }

        button.view_detail_btn {
            background: transparent;
            border: 1px solid #13365E;
            color: #13365E;
            font-size: 13px;
            font-weight: 600;
            padding: 6px 14px;
            border-radius: 20px;

            img {
                margin-left: 11px;
            }
        }
    }

    /*****  Sentiments Css Start *****/
    .news-box {
        h1 {
            color: #475467 !important;
            font-size: 17px !important;
            font-weight: 600 !important;
        }
    }




    .d-flex {
        display: flex;
    }

    .justify-between {
        justify-content: space-between;
    }

    .flex-wrap {
        flex-wrap: wrap;
    }

    .align-end {
        align-items: flex-end;
    }

    .align_center {
        align-items: center;
    }

    .table-chart-heading {
        font-weight: 600 !important;
        font-size: 16px !important;
        line-height: 24px;
        color: #475467 !important;
        border-bottom: 1px solid #EAECF0;
        padding: 16px;
        height: unset;
        margin: 0;
    }



    .tabbing_right {
        border: 1px solid #D0D5DD;
        border-radius: 6px;
        overflow: hidden;

        .tabing_rt_btn {
            border: unset;
            color: #98A2B3;
            font-size: 15px;
            font-weight: 500;
            letter-spacing: 0;
            line-height: 20px;
            padding: 10px 16px;
            height: unset;
            border-radius: unset;

            &:nth-child(1) {
                border-right: 1px solid #D0D5DD;
                margin-right: -3px;
            }

            &.mini-filled-blue {
                background: #F9FAFB;
                border-radius: unset;
                color: #667085;
             
            }
        }

    }

    button.tabbibng_btn {
        color: #9BAEC6;
        border: unset;
        font-size: 14px;
        letter-spacing: 0;
        text-transform: capitalize;
        font-weight: 600;
        line-height: 24px;
        padding: 9px 16px;
        height: unset;
        border-radius: unset;
        background: transparent;

        &.tabbing_active {
            background: unset;
            color: #184376;
            border-bottom: 2px solid #184376;
        }
    }

    .side_active {
        span {
            background: #184376 !important;

            svg {
                path {
                    stroke: #fff;
                }
            }
        }
    }
    .red-profit {
        color: #F04438 !important;
    }
    .top_bottm_space{
        padding:20px 0;
    }
}



  
.spike_tooltip {
    position: relative;
    display: inline-block;
    .tooltiptext {
        visibility: hidden;
        width: 136px;
    background-color: #F97066;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 10px 5px;
    font-size: 12px;
    font-weight: 500;
    position: absolute;
    z-index: 1;
    bottom: 100%;
    left: 50%;
    margin-left: -60px;
    margin-bottom: 7px;
  
        &:after {
            content: "";
            position: absolute;
            border-top: solid 7px #F97066;
            border-left: solid 7px transparent;
            border-right: solid 7px transparent;
            top: unset;
            bottom: -7px;
            left: 40%;
            margin: 0 auto;
        }
      }
}
.spike_tooltip:hover .tooltiptext {
    visibility: visible;
}

.inActive_tab_content{
    display: none !important;
}

.active_tab_content{
    display: block !important;
}




@media(max-width:1600px) {
    .agm-component-product {
        .sentiment-panel {
            .tp-box {
                .target_inner {
                    .price {
                        font-size: 21px;
                    }
                }
            }
        }
        .news-panel {
            ul{
                li {
                    &.pagination-prev{
                        a{
                            height: 32px;
                            width: 100px;
                            &:after{
                                font-size: 13px;
                                background-position: left -1px top 7px;
                                padding-left: 10px;
                                background-size: 13px;
                            }
                        }
                    }
                    &.pagination-next{
                        a{
                            height: 32px;
                            width: 79px;
                            &:after{
                                
                                    font-size: 13px;
                                    background-position: right 9px top 7px;
                                    padding-right: 20px;
                                    background-size: 13px;
                                
                            }
                        }
                    }
                    a {
                        height: 32px;
                        width: 32px;
                    }
                }
            }
    
        }
        

    }
   
}
@media(max-width:1500px) {
    .agm-component-product {
        .price_txt_rght {
            img {
                width: 110px;
            }
        }
        .sentiment-panel{
                .tp-box {
                    .target_inner {
                            padding: 21px 16px 34px;
                        }
                }
        }
         
    }
}

@media(max-width:1440px) {
    .agm-component-product {
        .sentiment-panel{
                .tp-box {
                    .target_inner {
                            padding: 18px 16px;
                        }
                }
        }
       
    }
}

@media(max-width:1400px) {
    .agm-component-product{
        .sentiment-panel {
                .tp-box .target_inner {
                    .price {
                        font-size: 18px;
                    }
                }
            }
        .fundamental-panel {
            .inner_box_txt {
                .radio_tab_body {
                        table {
                            thead th {
                                    padding: 18px 12px !important;
                                }
                        }
                    }
                }
            }
    .news-panel {
        .news-content {
            .news-title {
                        font-size: 13px;
                    }
             }
        } 
        .sentiment-panel{
            .tp-box {
                .target_inner {
                        padding: 27px 16px;
                    }
            }
        }
    }
    
 


    
}

@media(max-width:1366px) {
    .agm-component-product {
        min-width: unset;
        .sentiment-panel {
            .news-box {
                .sentiment-table{
                    tr {
                        td {
                            padding: 12px 4px !important;
                        }
                    }
                }
            }
        }
        .price_txt_rght {
            img {
                width: 94px;
            }
        }
        .news-panel {
            .news-content{
                padding: 10px 16px 10px;
                .news-title {
                    width: 76%;
                }
                .special-text {
                    width: 24%;
                }
            }
        }
        
    }

    body.mode-3 {
        min-width: unset;
        overflow-x: unset;
    }
    
}


@media(max-width:1300px) {

    .agm-component-product .price_boxes_outter .price_boxes .price_boxes_inner .price_txt_lft h3 {
        font-size: 22px;
    }

    .agm-component-product .price_boxes_outter .price_boxes .price_boxes_inner.today_range h3 {
        font-size: 18px !important;
    }

    .agm-component-product .price_boxes_outter .price_boxes .price_boxes_inner .price_btn a {
        font-size: 14px;
    }

    .agm-component-product .price_boxes_outter .price_boxes .price_boxes_inner .price_btn {
        padding: 7px 12px;
    }


    .agm-component-product .price.green-price.ng-binding img {
        width: 16px;
    }

    .agm-component-product {
        .price_boxes {
            .price_boxes_inner {
                .price_txt_lft{
                    h3 {
                        font-size: 22px;
                    }
                }

                &.today_range {
                    h3 {
                        font-size: 18px !important;
                    }
                }

                .price_txt_lft {
                    h3 {
                        font-size: 18px;
                    }
                }

                .price_btn {
                    padding: 7px 11px;

                    a {
                        color: #F2F6FC;
                        font-size: 13px;
                    }
                }

                .price_txt_rght {
                    img {
                        width: 78px;
                    }
                }
            }
        }
        .news-panel {
            li{
                &.pagination-next {
                    a {
                        height: 32px;
                    }
                }
                &.pagination-next{
                    a:after {
                        content: 'Next';
                        font-size: 13px;
                        background: url(//am708403.blob.core.windows.net/images/productpage/leftarrow.svg);
                        background-position: right 12px top 8px;
                        background-size: 11px;
                        background-repeat: no-repeat;
                    }
                }
                a {
                    height: 29px;
                    width: 29px;
                }
                &.pagination-prev a {
                    height: 29px;
                    width: 93px;
                }
                &.pagination-prev {
                    a:after {
                        content: 'Previous';
                        font-size: 13px;
                        background-position: left 12px top 9px;
                        background-size: 11px;
                    }
                }
            }
            .news-content {
                .news-title {
                    font-size: 13px;
                }
            }
            .fundamental-panel {
                .inner_box_txt{
                    .radio_tab_body table {
                        tbody tr td {
                            padding: 37px 9px;
                        }
                    }
                }
            }
            .sentiment-panel {
                .tp-box {
                    .target_inner{
                        .price {
                            font-size: 16px;
                        }
                    }
                }
            }

        }
        .sentiment-panel {
            .news-box {
                overflow-x: auto;
            }
        }
    }
}





@media(max-width:1200px) {
    .agm-component-product {
        .price_boxes_outter {
            .price_boxes {
                .price_boxes_inner {
                    &.today_range {
                        h3 {
                            font-size: 18px !important;
                        }
                    }

                    .price_txt_lft {
                        h3 {
                            font-size: 18px;
                        }
                    }

                    .price_btn {
                        padding: 7px 11px;

                        a {
                            color: #F2F6FC;
                            font-size: 13px;
                        }
                    }

                    .price_txt_rght {
                        img {
                            width: 78px;
                        }
                    }
                }
                
            }
        }
        .new_sentitable {
            width: 100% !important;
        }
        .anyalstic_chart {
            width: 50% !important;
        }
        .fundamental-panel {
            .inner_box_fundamental {
                width: 100%;
                margin: 0 0 20px;
            }
        }
        .news_ {
            width: 100% !important;
        }
        .overview_ {
            width: 100% !important;
        }
    }

    body.mode-3 {
            min-width: unset !important;
            overflow-x: unset !important;
        }
    
}
@media(max-width:1024px){

     
    .agm-component-product {
        padding-left: 0 !important;
        padding-right: 0 !important;
        .fundamental-panel {
            .income_tabbing_outter {
                overflow: auto;
                .tabbibng_btn {
                font-size: 16px;
                padding: 18px 8px;
                }
            }
            
        }
        .tabbing_right{
            .tabing_rt_btn {
            font-size: 13px;
                padding: 7px 10px;
            }
        }
        .price_boxes_outter {
            .price_boxes {
                width: 50%;
                margin: 0 0 20px;
                padding: 0 10px 0;
            }
        }
        .top_bottm_space {
            padding: 20px 15px;
        }
    }
}
@media(max-width:767px) {
    
    .agm-component-product .price_boxes_outter .price_boxes {
        width: 1000%;
    }

    .agm-component-product .anyalstic_chart {
        width: 100% !important;
    }

    .agm-component-product .rental_outter {
        width: 100% !important;
    }

    .agm-component-product .fundamental_charts_outter
    
    .col-md-1 {
        width: 100% !important;
    }

    .agm-component-product .company-overview-panel .overview_inner {
        width: 100%;
        margin: 0 0 20px;
    }

    .agm-component-product .related_outter .col-md-4 {
        width: 100% !important;
    }

    .agm-component-product {
        .fundamental-panel{
            .white-box {
                overflow: auto;
            }
            .income_tabbing_outter {
                .tabbing_heading{
                    padding:16px;
                }
                .tabbibng_btn {
                    display: none;
                }
            }
            .tabbing-phone{
                display: block;
                select {
                    border: unset;
                    color: #184376;
                    font-size: 13px;
                    font-weight: 600;
                }
            }
            .inner_box_txt {
                .radio_tab_body {
                    overflow-x: auto;
                    table {
                        thead{
                            th {
                                padding: 18px 5px !important;
                                font-size: 13px;
                                min-width: 170px;
                            }
                            
                        }
                        tbody{
                            tr{
                                td{
                                    font-size: 13px;
                                    padding: 37px 5px;
                                    img {
                                        margin-left: 4px;
                                        width: 13px;
                                    }
                                    
                                    
                                }
                            }
                        }
                    }
                }
            }
        }
        .news-panel{
            li{
                
                &.pagination-prev {
                    a{
                        width: 32px !important;
                        &:after {
                            font-size:0 !important;
                            background-position: left 6px top 6px;
                            padding-left: 0;
                        }
                    }
                }
                &.pagination-next {
                    a {
                        width: 32px !important;
                        &:after {
                             background-position: right 8px top 7px;
                            padding-right: 0;
                            font-size:0 !important;
                        }
                    }
                }
            }
            .news-content {
                flex-wrap: wrap;
                    .news-title {
                        width: 100%;
                    }
                    .special-text {
                        width:100%;
                        text-align: left;
                    }
                }
        }
        .sentiment-panel {
            .phone_select {
                display: block;
                border: unset;
                color: #475467;
                font-size: 14px;
                padding: 20px 0 20px 20px;
                font-weight: 600;
                outline: unset;
            }
            li.uib-tab.nav-item{
                a{
                    &.nav-link {
                        display: none;
                    }
                }
            }
            .news-box {
                .sentiment-table{
                    tr {
                        th {
                            min-width: 100px;
                        }
                    }
                }
            }
        }
       
        
        
    }


}

@media(max-width:480px){
    .agm-component-product {
        .fundamental-panel {
            .income_tabbing_outter {
                .tabbing_heading{
                    padding:16px 10px;
                }
              
            }
           
        }
        .tabbing_right {
            .tabing_rt_btn {
                font-size: 12px;
                padding: 4px 3px;
            }
        }
        .sentiment-panel {
            .tp-box {
                .target_inner{
                    .title {
                        font-size: 12px;
                    }
                }
            }
        }
    }
    .news-panel {
        ul {
            li {
                a{
                    height: 25px !important;
                    width: 25px !important;
                }
                &.pagination-prev {
                    a {
                        height: 25px !important;
                    }
                }
                &.pagination-next {
                    a {
                        height: 25px !important;
                       
                    }
                }
            }
        }
    }
    
}

@media(max-width:414px){
    .agm-component-product{
        #chart-section {
            &.view_detail_btn {
                font-size: 12px;
                padding: 6px 6px;
                img {
                    margin-left: 8px;
                    width: 8px;
                }
            }
            .white-box{
                .chart_btn_outter {
                    .chart_btns button {
                    font-size: 13px !important;
                        padding: 10px 7px !important;
                    }
                }
            }
        }   
        .news-panel {
                ul{
                    li{
                        a {
                            height: 23px !important;
                            width: 18px !important;
                        }
                    }
                }
        }
    }

}

@media(max-width:320px){
    .agm-component-product {
        #chart-section {
            button.view_detail_btn {
                font-size: 13px;
                padding: 6px 4px;
                img{
                    margin-left: 6px;
                    width: 10px;
                }
            }
            .white-box {
                .chart_btn_outter {
                    padding: 12px 10px;
                }
            }
        }
        .table-chart-heading {
            font-size: 12px !important;
        }
        .tabbing_right {
            .tabing_rt_btn {
                font-size: 12px;
                padding: 4px 2px;
            }
        }
    }
}