<div>
    <!--DIRECTIVE agmOpenOrders.html + agm*OpenOrders.js -->
    <div class="panel-heading">Open Orders</div>
    <div class="p-5px">
        <div ng-if="::(vm.levelOfDetail==='Preview')">
            Your subscription package does not include viewing of Open Orders.
        </div>
        <div ng-if="::(vm.levelOfDetail!=='Preview')">
            <div class="alert alert-info" ng-show="!vm.isLoadingOrders && (vm.orders.length <= 0 || vm.getPagedOrders().length <= 0)">
                <span ng-if="vm.viewMode !== 'readonly'">You have no open orders to display</span>
                <span ng-if="vm.viewMode == 'readonly'">No open orders to display</span>
            </div>
            <div class="p-50px text-center" ng-show="vm.isLoadingOrders">
                <img class="w-50px h-50px" src="//am708403.azureedge.net/images/static/loading.gif?" />
            </div>
            <table class="table-large no-border" ng-show="(vm.orders && vm.orders.length>0 && vm.getPagedOrders().length > 0) && !vm.isLoadingOrders">
                <thead>
                    <tr>
                        <th>Product</th>
                        <th>Qty</th>
                        <th>Price</th>
                        <th>Status</th>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="order in vm.getPagedOrders() track by order.OrderId">
                        <td>{{::order.Product.ProductName}} ({{::order.Product.Symbol}})</td>
                        <td>{{order.Quantity | orderQuantity:order.Action}}</td>
                        <td>
                            <span ng-if="!order.BracketOrder">{{order.OrderPrice | customCurrencyOrDashMinMax:order.Product.Currency:2:4}}</span>
                            <span ng-if="order.BracketOrder">
                                <span>TP: {{vm.getTakeProfitOrder(order).OrderPrice | customCurrencyOrDashMinMax:vm.getTakeProfitOrder(order).Product.Currency:2:4}}; </span>
                                <span>SL: {{vm.getStopLossOrder(order).OrderPrice | customCurrencyOrDashMinMax:vm.getStopLossOrder(order).Product.Currency:2:4}}</span>
                            </span>
                        </td>
                        <td>{{order.LatestStatus}}</td>
                    </tr>
                    <ul uib-pagination boundary-links="true" total-items="vm.getTotalItems()" ng-model="vm.models.currentPage"
                        class="pagination-sm" previous-text="&lsaquo;" next-text="&rsaquo;"
                        first-text="&laquo;" last-text="&raquo;" max-size="10"
                        num-pages="vm.models.numPages" ng-show="vm.showPagination()">
                    </ul>
                </tbody>
            </table>
        </div>
    </div>
</div>
