<div class="order-element">
    <div class="row-md-25 gap-0px w-100pct">
        <div class="col-md-1 order-type-container" ng-class="vm.order.Action == 'Buy' ? ['buy']:['sell']">
            <div class="order-type">
                {{::vm.order.Action}}
            </div>
        </div>
        <div class="col-md-24 border">
            <div class="order-header box">
                <div class="pull-left order-replicate">
                    <a ng-if="vm.coreConfigService.Trading.EnableComment"
                        ng-click="placeComment(vm.order.OrderId)" class="p-right-20px">
                        <span class="glyphicon glyphicon-comment p-right-5px"></span>Comment
                    </a>
                </div>
                <div ng-if="vm.showBracketOrderDetail(vm.order)" class="bracket-order pull-left hide-overflow">
                    <div class="row-md-9 gap-0px">
                        <div class="col-md-4 take-profit" ng-if="vm.showTakeProfit(vm.order)">
                            <div ng-if="vm.order.TakeProfitOrder===null && vm.order.DeveloperBracketOrderDetailModel.TakeProfitPrice != null">
                                <div class="pull-left order-name">
                                    <strong>TAKE PROFIT</strong>
                                </div>
                                <div class="pull-left price special-text text-uppercase">
                                    <span><strong>{{vm.order.DeveloperBracketOrderDetailModel.TakeProfitPrice | customCurrencyOrDashMinMax:vm.order.Product.Currency:2:4}}</strong> </span>
                                </div>
                                <div class="pull-left cancel">
                                </div>
                            </div>
                            <div ng-if="vm.order.TakeProfitOrder!=null">
                                <div class="pull-left order-name">
                                    <strong>TAKE PROFIT</strong>
                                </div>
                                <div class="pull-left price special-text text-uppercase">
                                    <span><strong>{{vm.order.TakeProfitOrder.OrderPrice | customCurrencyOrDashMinMax:vm.order.Product.Currency:2:4}}</strong> </span>
                                </div>

                                <div class="pull-left status">
                                    <span ng-if="!vm.showCancelling(vm.order.TakeProfitOrder)"><strong>{{vm.order.TakeProfitOrder.LatestStatus}}</strong> </span>
                                    <div ng-if="vm.showCancelling(vm.order.TakeProfitOrder)">
                                        <strong>Cancelling...</strong>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-4" ng-if="vm.showStopLoss(vm.order)">
                            <div ng-if="vm.order.StopLossOrder===null && vm.order.DeveloperBracketOrderDetailModel.CutLossPrice != null">
                                <div class="pull-left stop-loss">
                                    <strong>STOP LOSS</strong>
                                </div>
                                <div class="pull-left price special-text text-uppercase">
                                    <span><strong>{{vm.order.DeveloperBracketOrderDetailModel.CutLossPrice | customCurrencyOrDashMinMax:vm.order.Product.Currency:2:4}}</strong> </span>
                                </div>
                                <div class="pull-left cancel">
                                </div>
                            </div>
                            <div ng-if="vm.order.StopLossOrder!=null">
                                <div class="pull-left stop-loss">
                                    <strong>STOP LOSS</strong>
                                </div>
                                <div class="pull-left price special-text text-uppercase">
                                    <span><strong>{{vm.order.StopLossOrder.OrderPrice | customCurrencyOrDashMinMax:vm.order.Product.Currency:2:4}}</strong> </span>
                                </div>

                                <div class="pull-left status">
                                    <span ng-if="!vm.showCancelling(vm.order.StopLossOrder)"><strong>{{vm.order.StopLossOrder.LatestStatus}}</strong> </span>
                                    <div ng-if="vm.showCancelling(vm.order.StopLossOrder)">
                                        <strong>Cancelling...</strong>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="pull-left cancel">
                            <button class="mini-filled-red" ng-click="vm.cancelBracketFunc(vm.order)" ng-if="vm.showBracketCancelButtonFunc(vm.order)"
                                analytics-on="click" analytics-category="Trade" analytics-event="CancelOrder" agmc-analytics-timestamp>
                                CANCEL
                            </button>
                        </div>
                    </div>

                    <div class="clearfix"></div>
                </div>
                <div class="bracket-button" ng-if="vm.agmCoreConfigService.Trading.ShowBracketOrder">
                    <button class="pull-right mini-filled-blue" ng-if="vm.showViewBracketOrder(vm.order) && vm.showBracketOrderDetail(vm.order)" ng-click="vm.viewBracketOrderFunc(vm.order)"
                        uib-tooltip="View Bracket/TP/SL">
                        <span class="glyphicon glyphicon-eye-open"></span>
                    </button>
                    <button class="pull-right mini-filled-blue" ng-if="vm.showEditBracketOrder(vm.order)" ng-click="vm.editBracketOrderFunc(vm.order, 'edit', 'order')"
                        uib-tooltip="Edit Bracket/TP/SL">
                        <span class="glyphicon glyphicon-pencil"></span>
                    </button>
                    <button class="pull-right mini-filled-blue" ng-if="vm.showAddBracketOrder(vm.order)" ng-click="vm.editBracketOrderFunc(vm.order, 'add', 'order')"
                        uib-tooltip="Add Bracket/TP/SL">
                        <span class="glyphicon glyphicon-plus"></span>
                    </button>
                </div>
                <div class="clearfix"></div>
            </div>
            <div class="order-body hide-overflow">
                <div class="pull-left order-date">
                    <span class="gray-text">ORDER DATE: </span>
                    <br />
                    <span>{{::vm.order.CreatedTime | date:'mediumDate'}}</span><br />
                    <span>{{::vm.order.CreatedTime | date:'shortTime'}}</span>
                </div>
                <div class="pull-left product-container text-uppercase">
                    <agms-product-picture product="::vm.order.Product"></agms-product-picture>
                    <div class="clearfix"></div>
                </div>
                <div class="pull-left w-120px text-uppercase" style="margin-top: 12px">
                    <span class="special-text">{{vm.order.Intention}}</span><br />
                    <span><strong>&#39;{{::vm.order.Position}}&#39;</strong> position</span>
                </div>

                <div class="pull-left w-80px text-uppercase" style="margin-top: 12px">
                    <span class="special-text"><strong>{{::vm.order.OrderType}}</strong></span><br/>
                    <span>ORDER</span>
                </div>
                <div class="pull-left quantity">
                    <div class="no-margin v-center">{{::vm.order.Quantity | valueOrDash:0}} <span class="smaller">UNITS</span></div>
                </div>
                <div class="pull-left price">
                    <div class="no-margin v-center">{{vm.order.OrderPrice | customCurrencyOrDashMinMax:vm.order.Product.Currency:2:4}}</div>
                </div>
                
                <div class="clearfix"></div>
            </div>
            <div class="order-footer box">
                <div class="pull-left w-250px p-left-10px  h-30px">
                    <h5 class="lh-30px no-margin">{{vm.order.LatestStatus}}</h5>
                </div>
                <div ng-if="(vm.order | hasBeenRejectedCancelledOrExpired) && vm.order.RejectReason" class="pull-left w-200px p-left-10px  h-30px">
                    <h5 class="red-loss lh-30px no-margin ellipsis-nowrap" title="{{vm.order.RejectReason}}">{{vm.order.RejectReason}}
                    </h5>
                </div>
                <div class="pull-left w-100px h-30px">
                    <h5 class="lh-30px no-margin"><span class="gray-text">VALIDITY : </span>{{::vm.order.Validity}}</h5>
                </div>
                <div class="pull-left m-right-10px w-160px h-30px" ng-if="vm.showCancelling(vm.order)">
                    <h5 class=" lh-30px no-margin">Cancelling order...</h5>
                </div>
                <div class="order-date pull-right">
                    <div>last updated {{vm.order.UpdateTime | timeSince}}</div>
                </div>
                <div class="pull-right cancel-button" ng-if="vm.showCancelButtonFunc(vm.order)">
                    <button class="mini-filled-red" ng-click="vm.cancelFunc(vm.order)"
                        analytics-on="click" analytics-category="Trade" analytics-event="CancelOrder" agmc-analytics-timestamp>
                        CANCEL
                    </button>
                </div>
                <div class="clearfix"></div>
            </div>
        </div>
    </div>
    <div class="clearfix"></div>

    <div class="blink_me order-blink pass-through-pointer" ng-if="vm.isBlinking"></div>
    <div class="clearfix"></div>
</div>
