.agms-directive.checkbox-dropdown {
    .dropdown-menu-selection {
        width: 300px;
        border-radius: 0;
        border: 1px solid #002d5a;
        overflow-y: auto;
        max-height: 300px;
        overflow-x: hidden;
    }
}

.agms-directive.pixel-positioning-system {
    > .popup {
        position: absolute;
        top: 0;
        left: 0;
        z-index: 3000;
    }
}

.agms-directives.product-picture {
    .rel;

    .red-loss {
        color: #ff4242;
    }

    .product-icon {
        .abs;
        width: 40px;
        height: 40px;
        top: 0px;
        left: 0;
        background-size: cover;
    }

    .product-text {
        padding-left: 45px;
        line-height: 20px;
        text-transform: uppercase;

        .product-symbol {
            margin: 0;
            font-size: 14px;
            font-weight: 600;
            height: 20px;
            height: 17px;
        }

        .product-text {
            font-size: 16px;
            font-weight: 600;
            height: 15px;
            height: 20px;
            margin: 0;
        }
    }
}

.agms-directives.datamart-filter-selector {
    .rel;

    .message-box {
        .abs;
        top: 30px;
        left: 0;
        width: 100%;
        padding: 5px 5px 5px 5px;
        text-align: center;
        font-weight: 700;

        > div {
            background: mix(white,transparent,60);
            padding: 17px;
            border-radius: 10px;
            color: @blueDarker3;
        }
    }

    .panel-group {
        margin-bottom: 5px;

        .panel-heading {
            height: 30px;
            line-height: 30px;
            padding: 0 8px;

            h4.panel-title {
                font-size: 12px;
                font-weight: 600;
                line-height: 30px;

                .glyphicon {
                    line-height: 30px;
                }
            }

            .info-button {
                background: none;
                border: none;
                float: left;
                padding-left: 0px;

                &:hover {
                    color: @blueBasic;
                }
            }
        }

        .panel-body {
            .rel;
            background: none;
            padding: 10px;

            .item-list {
                margin-bottom: 5px;

                > .left-item {
                    float: left;

                    select {
                        margin-left: 5px;
                        min-width: 70px;
                    }
                }

                > .switch {
                    float: right;
                }

                > .switch::after {
                    background: rgb(60, 77, 95);
                    border: #404040 1px solid;
                }

                > .switch.checked::after {
                    background: #01fe0d;
                }
            }

            .item-list > .item-list {
                padding-left: 10px;
            }
        }
    }
}

.agms-directives.chat-url-preview {
    .rel;

    > .loading {
        padding: 10px;

        > img {
            width: 10px;
            height: 10px;
        }
    }

    > .close-button {
        .abs;
        right: 5px;
        top: 5px;
    }

    > .url-preview-content {

        > .image {
            float: left;
            width: 150px;
            height: 100px;
            border: 1px solid @grayLight1;
            margin-right: 10px;
            background-color: @grayLight1;
            background-size: cover;
        }

        > .summary {
            float: left;
            margin-right: 25px;
        }
    }
}

.agms-directives.step-by-step-flow {
    .rel;

    &.has-navigator {
        > .transclude-container {
            .single-step {
                margin-bottom: 25px;
            }
        }
    }

    > .transclude-container {
        .single-step {
            height: 100%;
        }
    }

    > .step-list {
        padding: 5px;
        background: @grayLight3;

        > .title {
            display: none;
        }

        > button {
            margin-right: 10px;
            line-height: 25px;
            border: none;
            background: none;

            > .bullet {
                width: 26px;
                height: 26px;
                border-radius: 15px;
                border: none;
                font-size: 16px;
                font-weight: 600;
                line-height: 24px;
                background: @grayLight1;
                color: @grayMed3;
                display: block;
                float: left;
            }

            > .name {
                font-size: 14px;
                color: @grayMed3;
                letter-spacing: 0.05em;
                display: block;
                float: left;
                padding: 0 0 0 3px;
            }

            &.accessible {
                > .bullet {
                    opacity: 1;
                    color: @grayDark1;
                }

                > .name {
                    color: @grayDark1;
                }

                &:hover {
                    > .bullet {
                        color: white;
                        background: @blueBasic;
                    }

                    > .name {
                        color: @blueDarker1;
                    }
                }
            }

            &.active {
                > .bullet {
                    color: white;
                    background: @blueDarker1;
                }

                > .name {
                    color: black;
                }

                &:hover {
                    > .bullet {
                        color: white;
                        background: @blueDarker1;
                    }

                    > .name {
                        color: black;
                    }
                }
            }
        }
    }

    > .navigator {
        .abs;
        bottom: 0;
        width: 100%;
        padding: 5px;
        background: @grayLight1;
        z-index: 2;

        .next-button, .prev-button {
            float: right;
            margin: 0 5px;
        }
    }
}

.actual-size-mobile {

    .agms-directives.step-by-step-flow {
        height: auto;

        > .transclude-container {
            height: auto;
            margin-top: auto;
            padding-top: auto;

            .single-step {
                height: auto;
                overflow: auto;
            }
        }

        > .step-list {
            text-align: center;

            > .title {
                display: block;
            }

            > button {
                margin-right: 2px;
                margin-left: 2px;
                line-height: 16px;

                > .bullet {
                    width: 16px;
                    height: 16px;
                    line-height: 12px;
                    font-size: 12px;
                }

                > .name {
                    display: none;
                }
            }
        }

        > .navigator {
            position: inherit;

            .prev-button {
                float: left;
            }
        }
    }
}

.agms-directives.url-preview {
    .image-icon {
        width: 50px;
        height: 50px;
    }
}

.modal-content {
    > .agms-directives.add-to-watchlist {
        position: relative;
    }
}

.agms-directives.add-to-watchlist, .agms-directives.edit-watchlist-note {
    background: white;
    box-shadow: 0 0 10px @grayMed1;
    padding: 0px;
    min-width: 300px;
    z-index: 1000;

    h1 {
        line-height: 40px;
        font-size: 20px;
        margin: 0;
        padding: 0 10px;
        background: @grayLight4;
    }

    h2 {
        padding: 0 10px;
        font-size: 16px;
        line-height: 30px;
        margin: 0;
    }

    textarea {
        width: 100%;
        min-height: 200px;
    }


    .inner-selection {
        padding: 5px 10px;

        select {
            width: 150px;
            margin-right: 20px;
        }
    }

    .button-area {
        padding: 10px;
    }
}

.agms-directives.generic-notification-box {
    position: fixed;
    bottom: 10px;
    left: 50px;
    z-index: 100;

    .box {
        & > .close-button {
            padding: 5px;
            top: 0;
            right: 0;
            .abs;
            z-index: 1;
        }

        background: white;
        width: 300px;
        box-shadow: 0 0 20px @grayMed1, 0 0 10px @grayMed1;
        padding: 0;
        height: 0px;
        border-radius: 4px;
        opacity: 0;
        overflow: hidden;

        &.shown {
            opacity: 1;
            margin-bottom: 5px;
            height: auto;
            overflow: visible;
        }

        &.gone {
            opacity: 0;
            height: 0px;
            overflow: hidden;
        }
    }
}

.agms-templates.trade-notification-box {
    &.blink {
        animation: blink-animation 1.5s steps(5, start) infinite;
        -webkit-animation: blink-animation 1.5s steps(5, start) infinite;
    }

    padding: 5px 10px 3px 10px;

    @keyframes blink-animation {
        to {
            background: mix(@blueBasic,white,30);
        }
    }

    @-webkit-keyframes blink-animation {
        to {
            background: white;
        }
    }
}



.agms-templates.price-alert-notification-box {
    padding: 5px 10px 3px 10px;
}


.agms-directives.date-picker {

    > .from-date {
        margin-right: 10px;
    }

    > .from-date, .to-date {
        float: left;

        > .title {
            line-height: 30px;
            float: left;
            margin-right: 10px;
        }
        /*WILL BE RESTRUCTURED*/
        > .date-picker.input-group {
            > input {
                background: #FFF;
            }
        }
    }
}

.agms-directives.generic-tree-selection {
    input[type='checkbox']:checked.indeterminate {
        opacity: 0.5;
    }

    label > a[disabled] {
        cursor: not-allowed;
    }

    .expand-button {
        line-height: 20px;
        height: 20px;
        border: none;
        background: none;

        &:disabled {
            opacity: 0.4;
        }
    }

    .info-button {
        border: none;
        background: none;
    }
}

.agms-directives.text-box-date-picker {
    .rel;
    background: white;

    [content-caret] {
        .abs;
        opacity: 0.1;
        width: 1px;
        height: 1px;
    }

    .pull-left {
        font-size: 16px;
        line-height: 20px;
        font-weight: 600;
    }

    .gap {
        width: 10px;
    }

    .value-box {
        float: left;
        padding: 0 2px;
        line-height: 20px;
        font-size: 14px;
        background: white;
        color: black;

        &.highlight-box {
            background: @blueBasic;
            color: white;
        }
    }
}

.agm-template.template-dropdown-menu {
    padding: 5px 0px;
    background: white;
    box-shadow: 0 0 10px @grayLight1;

    a.menu {
        height: 25px;
        font-size: 14px;
        padding: 0 15px;
        width: 200px;
        display: block;
        cursor: pointer;
        color: black;
        line-height: 25px;

        &:hover {
            background: mix(@blueBasic,transparent,10);
        }
    }
}

.agms-directive.position-summary {
    > .content-container {
        padding: 5px;

        > .loading-box {
            padding: 50px;

            > img {
                width: 50px;
                height: 50px;
            }
        }

        > .pagination-sm {
            margin-bottom: 10px;
        }

        > table {
            border: none;

            > tbody > tr > td {
                &.not-readonly {
                    position: relative;
                    padding: 0 5px;

                    > button.close-button {
                        margin-left: -35px;
                        float: right;
                        position: absolute;
                        bottom: 5px;
                        width: 50px;
                        padding: 0;
                    }
                }
            }
        }
    }
}

.agm-template.conversation-header-template, .agm-template.group-post-header-template, .agm-template.strategy-post-header-template, .agm-template.strategy-trade-header-template {
    padding: 5px;
    .rel;

    .agms-image-icon {
        .cover-center;
        float: left;
        width: 40px;
        height: 40px;
        border-radius: 20px;
    }

    .agm-strategy-image-icon {
        .cover-center;
        float: left;
        width: 60px;
        height: 40px;
    }

    .developer-text {
        line-height: 20px;
    }

    .timestamp {
        position: absolute;
        right: 10px;
        font-weight: 600px;
        color: @blueDarker1;
    }

    img.developer-icon {
        width: 20px;
        height: 20px;
        border-radius: 10px;
    }

    .user-info {
        float: left;
        margin-left: 10px;
    }

    .delete-conversation {
        margin-right: 10px;
        margin-top: 20px;
        float: right;
    }

    .bear, .bull {
        margin-right: 15px;
        margin-top: 15px;
        float: right;

        img {
            width: 30px;
            height: 30px;
        }
    }
}

.agms-directive.product-list {

    .table-wrapper {
        height: 100%;
        width: 100%;
        display: flex;
        display: -webkit-flex; /* Safari */
        flex-direction: column;
        overflow: auto;

        > .table-header {
            flex: 0 1 auto;
            -webkit-flex: 0 1 auto; /* Safari 6.1+ */
        }

        > .table-body {
            flex: 1 auto;
            -webkit-flex: 1 auto; /* Safari 6.1+ */
        }

        > .table-body .scrollbar-container{
            overflow: scroll;
            overflow-y: visible;
            overflow-x: visible;
        }

        .table-ref{
            width: 100% !important;
        }
    }

    .virtual-table-scrollbox-container {
        overflow: hidden;

        .virtual-table-scrollbox {
            .table-ref {
                .abs;
            }
        }
    }

    table {
        border: none;
        table-layout: fixed;

        .product-sticky {
            position: absolute;
            top: auto;
            margin-top: -17px;
            text-align: left;
            width: 210px;
            // background-color: white;
            padding-top: 9px;
            padding-left: 10px;
            padding-bottom: 10px;
        }
        
        .product-sticky-symbol {
            position: absolute;
            top: auto;
            margin-top: -17px;
            text-align: center;
            width: 100px;
            // background-color: white;
            padding-top: 9px;
            padding-left: 10px;
            padding-bottom: 10px;
        }
        
        .product-sticky-white-bg {
            // background-color: white;
        }
        
        .product-sticky-last {            
            position: absolute;
            top: auto;
            margin-top: -17px;
            text-align: center;
            width: 130px;
            right: 0px;
            // background-color: white;
            padding-top: 9px;
            height: 34px;
        }

        tbody tr:nth-child(odd) .product-sticky{
            background-color: #fff !important;
        }
        tbody tr:nth-child(even) .product-sticky{
            background-color: #F6F8F9 !important;
        }
        tbody tr:nth-child(odd) td{
            background-color: #fff !important;
        }
        tbody tr:nth-child(even) td{
            background-color: #F6F8F9 !important;
        }
        
        tbody tr:nth-child(odd) .product-sticky-symbol{
            background-color: #fff !important;
        }
        tbody tr:nth-child(even) .product-sticky-symbol{
            background-color: #F6F8F9 !important;
        }
        
        tbody tr:nth-child(odd) .product-sticky-last{
            background-color: #fff !important;
        }
        tbody tr:nth-child(even) .product-sticky-last{
            background-color: #F6F8F9 !important;
        }
          

        .product-left-scroll-icon{
            position: absolute;
            top: 9px;
            left: 180px;
            font-size: 20px;
        }
        .product-right-scroll-icon{
            position: absolute;
            top: 7px;
            right: 90px;
            font-size: 20px;
        }

        > thead > tr > th {
            padding: 2.5px 5px;

            div.product-sticky{
                background: #EEEEEE;
                margin-top: -18px;
            }
            div.product-sticky-symbol{
                background: #EEEEEE;
                margin-top: -17px;
            }
            
            div.product-sticky-last{
                background: #EEEEEE;
            }
            .glyphicon-triangle-bottom, .glyphicon-triangle-top{
                position: revert;
            }
        }

        > tbody > tr {
            &:hover {
                background: mix(@blueBasic,white,30);
            }            
        }

        > thead > tr > th, > tbody > tr > td {

            &.mid-column {
                text-align: center;
                width: 100px;
            }  
            
            &.mid-column h5 {
                width: auto;
                white-space: nowrap;
                overflow: hidden;
                text-overflow: ellipsis;
            }            

            &.not-available, .not-available {
                line-height: 30px;
                color: @grayLight1;
            }

            &.product-info {
                text-align: left;
                padding-left: 5px;
            }

            &.product-name {
                text-align: left;
                width: 200px;
                padding-left: 0px;
                padding-top: 0px;
                text-transform: uppercase;
            }            
            
            &.product-name h3 {
                width: 180px;
                white-space: nowrap;
                overflow: hidden;
                text-overflow: ellipsis;
            }            
            
            &.product-payout-alert-MA150 {
                text-align: center;
                width: 200px;
                padding-left: 5px;
                text-transform: uppercase;
            }
            
            &.product-sector {
                text-align: center;
                width: 200px;
                padding-left: 5px;
                text-transform: uppercase;
            }
            
            &.product-industry {
                text-align: center;
                width: 200px;
                padding-left: 5px;
                text-transform: uppercase;
            }
            
            &.product-turnover {
                text-align: center;
                width: 100px !important;
                padding-left: 5px;
                text-transform: uppercase;
            }
            
            &.product-analyst-rating {
                text-align: center;
                width: 100px !important;
                padding-left: 5px;
                text-transform: uppercase;
            }

            &.product-symbol {
                text-align: center;
                width: 120px;
                padding-left: 5px;
                text-transform: uppercase;
            }

            &.trade-volume {
                text-align: right;
                padding-right: 15px;
                width: 90px;
            }

            &.bid-price, &.ask-price {
                width: 120px;
                text-align: center;
            }

            &.bid-volume, &.ask-volume {
                width: 80px;
                text-align: center;
            }

            &.compact-price-changes {
                padding-right: 15px;
                text-align: right;
                width: 100px;
            }

            &.price-changes {
                padding-right: 20px;
                text-align: right;
                width: 90px;
            }
            
            &.product-comCrossover {
                padding-right: 20px;
                text-align: center;
                width: 150px;
            }
            
            &.screener-column {                
                width: 130px;
            }
            

            &.last-traded-price {
                padding-right: 15px;
                text-align: right;
                width: 100px;

                &.left-side {
                    text-align: left;
                }
            }            
        }

        > tbody > tr {
            border-bottom: 1px solid @grayLight1;
            height: 35px;

            > td {
                height: 30px;
                padding: 0;

                &.mid-column {
                    text-align: center;
                    padding: 10px;
                    word-break: break-all;

                    h1, h2, h3, h4, h5 {
                        margin: 0;
                    }
                }

                &.product-name, &.product-symbol {
                    h3 {
                        margin: 0;
                        font-size: 14px;
                        text-transform: uppercase;
                    }
                }

                &.product-info {

                    > .product-picture {
                        .rel;
                        min-width: 50px;

                        .product-icon {
                            width: 30px;
                            height: 30px;
                            .abs;
                            top: 5px;
                            left: 0px;
                            background-size: cover;
                            box-shadow: 0 0 1px 1px mix(black, transparent,10);
                            background-color: @grayLight1;
                        }

                        .product-text {
                            padding-left: 25px;

                            > .product-symbol {
                                font-weight: 600;
                                font-size: 16px;
                                color: black;
                            }

                            > .product-name {
                                display: block;
                                font-size: 12px;
                                line-height: 15px;
                                color: @grayMed1;
                                margin-top: -2px;
                                text-transform: uppercase;
                            }
                        }
                    }
                }

                &.price-changes {
                    .rel;
                    color: red;
                    padding-left: 20px;

                    &.up {
                        color: green;
                    }

                    .glyphicon {
                        display: block;
                        .abs;
                        top: 0px;
                        right: 0px;
                        font-size: 14px;
                        line-height: 20px;
                    }

                    .nominal-price-changes {
                        font-size: 12px;
                        line-height: 15px;
                        font-weight: 600;
                        margin-top: 0px;
                    }

                    .percentage-price-changes {
                        font-size: 12px;
                        line-height: 15px;
                        font-weight: 600;
                    }
                }

                &.last-traded-price {
                    height: 30px;
                    line-height: 20px;
                    font-weight: 600;
                    color: black;
                    font-size: 14px;
                    text-align: right;
                }

                &.bid-price, &.ask-price {

                    > button {
                        width: 100%;
                        border: none;
                        display: block;
                        line-height: 20px;
                        font-size: 14px;
                        background: mix(black, transparent,2);
                        height: 30px;
                        font-weight: 600;
                        color: black;

                        &.up {
                            background: green;
                            color: white;
                        }

                        &.down {
                            background: red;
                            color: white;
                        }
                    }
                }

                &.bid-volume, &.ask-volume {
                    line-height: 20px;
                    font-size: 14px;
                    font-weight: 600;
                }

                &.trade-volume {
                    line-height: 20px;
                    font-size: 16px;
                }

                &.compact-price-changes {

                    > .last-traded-price {
                        height: 13px;
                        margin-top: 0px;
                        line-height: 13px;
                        font-weight: 600;
                        color: black;
                        font-size: 12px;
                        text-align: right;
                    }

                    > .price-changes {
                        .rel;
                        color: @berry;

                        &.up {
                            color: @seafoam;
                        }

                        .glyphicon {
                            display: inline;
                            line-height: 15px;
                            font-size: 12px;
                        }

                        .percentage-price-changes {
                            display: inline;
                            font-size: 11px;
                            line-height: 15px;
                            font-weight: 600;
                            letter-spacing: -0.5px;
                            margin-top: -2px;
                        }
                    }
                }
            }
        }
    }
}

.stepping-menu {
    background: @grayLight2;
    padding: 0 10px;

    a {
        .button-text;
        .clickable;

        .bullet {
            border-radius: 15px;
            width: 20px;
            height: 20px;
            color: white;
            text-align: center;
            line-height: 20px;
            display: inline-block;
            background: @grayMed1;
            margin-right: 5px;
        }

        color: @grayMed1;
        margin-right: 20px;
    }

    a.disable-link {
        pointer-events: none !important;
        cursor: default;
        color: @grayMed1 !important;

        .bullet {
            background: @grayMed1 !important;
        }
    }

    a.passed {
        color: @grayDark1;

        .bullet {
            background: @grayDark1;
        }
    }

    a.active, a:hover {
        color: @blueBasic;

        .bullet {
            background: @blueBasic;
        }
    }
}
