<div class="agms-directive product-list">
    <script type="text/ng-template" id="default-product-list/product-info">
        <agms-product-picture changeable="true" class="product-picture" product="vm.getProduct(productContainer)" hide-market-data="true"
                              disable-click="vm.isEodTradeVenue(vm.getProduct(productContainer).TradeVenueLoc)">
        </agms-product-picture>
    </script>
    <script type="text/ng-template" id="default-product-list/product-name">
        <h3>{{vm.getProduct(productContainer).ProductName}}</h3>
    </script>
    <script type="text/ng-template" id="default-product-list/product-symbol">
        <h3>{{vm.getProduct(productContainer).Symbol}}</h3>
    </script>
    <script type="text/ng-template" id="simpleScreener/product-symbol">
        <div>{{productContainer.ProductModel.Symbol}}</div>
    </script>
    <script type="text/ng-template" id="default-product-list/bid-price">
        <button ng-if="vm.getMarketData(productContainer).BidPrice" 
                class="transition-superfast" ng-class="vm.getBidPriceChangesCss(productContainer)">
            <span ng-if="!vm.visibility.hideCurrency">
                {{vm.getMarketData(productContainer).BidPrice | correctTickSizeDecimalPlacesWithCurrency:vm.getProduct(productContainer).Currency:vm.getProduct(productContainer).TradeVenueLoc}}
            </span>
            <span ng-if="vm.visibility.hideCurrency">
                {{vm.getMarketData(productContainer).BidPrice | correctTickSizeDecimalPlacesWithoutCurrency:vm.getProduct(productContainer).Currency:vm.getProduct(productContainer).TradeVenueLoc}}
            </span>
        </button>
        <span ng-if="!vm.getMarketData(productContainer).BidPrice">N/A</span>
    </script>

    <script type="text/ng-template" id="default-product-list/ask-price">
        <button ng-if="vm.getMarketData(productContainer).AskPrice" 
                class="transition-superfast" ng-class="vm.getAskPriceChangesCss(productContainer)">
            <span ng-if="!vm.visibility.hideCurrency">
                {{vm.getMarketData(productContainer).AskPrice | correctTickSizeDecimalPlacesWithCurrency:vm.getProduct(productContainer).Currency:vm.getProduct(productContainer).TradeVenueLoc}}
            </span>
            <span ng-if="vm.visibility.hideCurrency">
                {{vm.getMarketData(productContainer).AskPrice | correctTickSizeDecimalPlacesWithoutCurrency:vm.getProduct(productContainer).Currency:vm.getProduct(productContainer).TradeVenueLoc}}
            </span>
        </button>
        <span ng-if="!vm.getMarketData(productContainer).AskPrice">N/A</span>
    </script>

    <script type="text/ng-template" id="default-product-list/bid-volume">
        <div ng-if="vm.getMarketData(productContainer).BidSize">
            {{vm.getMarketData(productContainer).BidSize | largeAmountValue:2:true}}
        </div>
        <span ng-if="!vm.getMarketData(productContainer).BidSize">N/A</span>
    </script>

    <script type="text/ng-template" id="default-product-list/ask-volume">
        <div ng-if="vm.getMarketData(productContainer).AskSize">
            {{vm.getMarketData(productContainer).AskSize | largeAmountValue:2:true}}
        </div>
        <span ng-if="!vm.getMarketData(productContainer).AskSize">N/A</span>
    </script>

    <script type="text/ng-template" id="default-product-list/last-traded-price">
        <div ng-if="vm.getMarketData(productContainer).LastTradedPrice != null">
            <span ng-if="!vm.visibility.hideCurrency">
                {{vm.getMarketData(productContainer).LastTradedPrice | correctTickSizeDecimalPlacesWithCurrency:vm.getProduct(productContainer).Currency:vm.getProduct(productContainer).TradeVenueLoc}}
            </span>
            <span ng-if="vm.visibility.hideCurrency">
                {{vm.getMarketData(productContainer).LastTradedPrice | correctTickSizeDecimalPlacesWithoutCurrency:vm.getProduct(productContainer).Currency:vm.getProduct(productContainer).TradeVenueLoc}}
            </span>
        </div>
        <span ng-if="vm.getMarketData(productContainer).LastTradedPrice == null" class="not-available">N/A</span>
    </script>

    <script type="text/ng-template" id="default-product-list/price-changes">
        <span ng-if="vm.getMarketData(productContainer).LastTradedPriceDiff == null" class="not-available">N/A</span>
        <div ng-if="vm.getMarketData(productContainer).LastTradedPriceDiff != null" ng-class="vm.getPriceChangesCss(productContainer)">
            <div class="glyphicon glyphicon-triangle-top" ng-if="vm.getMarketData(productContainer).LastTradedPriceDiff >= 0"></div>
            <div class="glyphicon glyphicon-triangle-bottom" ng-if="vm.getMarketData(productContainer).LastTradedPriceDiff < 0"></div>
            <div ng-if="vm.visibility.hasNominalPriceChanges" class="nominal-price-changes">{{vm.getProduct(productContainer).Currency | currencySymbol}} {{vm.getMarketData(productContainer).LastTradedPriceDiff}}</div>
            <div class="percentage-price-changes">({{vm.getMarketData(productContainer).LastTradedPriceDiffPct | valuePercentOrDash:2}})</div>
        </div>
    </script>

    <script type="text/ng-template" id="default-product-list/compact-price-changes">
        <div class="last-traded-price" ng-if="vm.getMarketData(productContainer).LastTradedPrice != null">
            {{vm.getMarketData(productContainer).LastTradedPrice | correctTickSizeDecimalPlacesWithCurrency:vm.getProduct(productContainer).Currency:vm.getProduct(productContainer).TradeVenueLoc}}
        </div>
        <div class="price-changes" ng-class="vm.getPriceChangesCss(productContainer)" ng-if="vm.getMarketData(productContainer).LastTradedPrice != null">
            <div class="glyphicon glyphicon-triangle-top" ng-if="vm.getMarketData(productContainer).LastTradedPriceDiff >= 0"></div>
            <div class="glyphicon glyphicon-triangle-bottom" ng-if="vm.getMarketData(productContainer).LastTradedPriceDiff < 0"></div>
            <div ng-if="vm.visibility.hasNominalPriceChanges" class="nominal-price-changes">{{vm.getProduct(productContainer).Currency | currencySymbol}} {{vm.getMarketData(productContainer).LastTradedPriceDiff}}</div>
            <div class="percentage-price-changes">({{vm.getMarketData(productContainer).LastTradedPriceDiffPct | valuePercentOrDash:2}})</div>
        </div>
        <span ng-if="vm.getMarketData(productContainer).LastTradedPrice === null" class="not-available">N/A</span>
    </script>

    <script type="text/ng-template" id="default-product-list/trade-volume">
        <div ng-if="vm.getMarketData(productContainer).CumulativeVolume">
            {{vm.getMarketData(productContainer).CumulativeVolume | largeAmountValue:2:true}}
        </div>
        <span class="not-available" ng-if="!vm.getMarketData(productContainer).CumulativeVolume">N/A</span>
    </script>
    <div ng-class="{'flex-v':vm.visibility.squeezedHeight}">
        <div class="major-column">
            <div class="table-wrapper column-container">
                <div class="table-header">
                    <table>
                        <thead ng-if="!vm.readyToRender">
                            <tr>
                                <th>
                                    <div>&nbsp;</div>
                                </th>
                            </tr>
                        </thead>
                        <thead ng-if="(vm.visibility.showHeader || vm.headerOnly) && vm.readyToRender">
                            <tr>
                                <th ng-repeat="col in ::vm.options.columns" class="clickable" ng-if="!col.visibility || col.visibility()" ng-class="::col.classNames">
                                    <div ng-class="{'product-sticky': col.title == 'PRODUCT', 'product-sticky-symbol': col.title == 'SYMBOL', 'product-sticky-last': col.title == ''}">                                        
                                        {{::col.title}}
                                        <span class="glyphicon glyphicon-triangle-left product-left-scroll-icon" ng-click="vm.scrollRight()" ng-if="col.title=='PRODUCT'"></span>
                                        <span class="glyphicon glyphicon-triangle-right product-right-scroll-icon" ng-click="vm.scrollLeft()" ng-if="col.title==''"></span>
                                        <span class="glyphicon glyphicon-triangle-bottom" ng-click="vm.sortByThisColumn(col)" ng-if="vm.isSelectedColumnForSortDesc(col)" ng-class="{'pull-right': col.title == 'Volume'}"></span>
                                        <span class="glyphicon glyphicon-triangle-top" ng-click="vm.sortByThisColumn(col)" ng-if="vm.isSelectedColumnForSortAsc(col)" ng-class="{'pull-right': col.title == 'Volume'}"></span>
                                    </div>
                                </th>
                            </tr>
                        </thead>
                    </table>
                </div>
                <div class="table-body " ng-class="{'abs-container':vm.visibility.squeezedHeight}">

                    <div ng-if="vm.visibility.enableVirtualization"
                         class="scrollbar-container virtual-table-scrollbox-container">
                        <div class="virtual-table-scrollbox" >
                            <table class="table-ref">
                                <tbody ng-if="vm.readyToRender">
                                    <tr ng-class="vm.getRowClass(productContainer)"
                                        oncontextmenu="return false;"
                                        agmc-click-outside-light="vm.closePopup()"
                                        agmc-right-click="::vm.openPopup(productContainer,$event)"
                                        ng-repeat="productContainer in vm.getListedStocks()"
                                        ng-if="vm.getProduct(productContainer).Symbol">
                                        <td ng-repeat="col in ::vm.options.columns" ng-if="!col.visibility || col.visibility()" ng-class="::col.classNames">
                                            <div ng-include src="::col.templateId" ng-class="{'product-sticky': col.title == 'PRODUCT', 'product-sticky-symbol': col.title == 'SYMBOL', 'product-sticky-last': col.title == ''}"></div>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>

                    <div class="scrollbar-container">
                        <table class="table-ref">
                            <tbody ng-if="vm.readyToRender">
                                <tr ng-class="vm.getRowClass(productContainer)" oncontextmenu="return false;" agmc-click-outside-light="vm.closePopup()" agmc-right-click="::vm.openPopup(productContainer,$event)"
                                    ng-repeat="productContainer in vm.getListedStocks() track by $index"
                                    ng-if="vm.getProduct(productContainer).Symbol">
                                    <td ng-repeat="col in ::vm.options.columns" ng-if="!col.visibility || col.visibility()" ng-class="::col.classNames">
                                        <div ng-include src="::col.templateId" ng-class="{'product-sticky': col.title == 'PRODUCT', 'product-sticky-symbol': col.title == 'SYMBOL', 'product-sticky-last': col.title == ''}"></div>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
        <div class="minor-column">
            <ul uib-pagination boundary-links="true" total-items="vm.preprocessListCount" ng-model="vm.paginationModel.currentPage"
                class="pagination-sm" previous-text="&lsaquo;" next-text="&rsaquo;"
                first-text="&laquo;" last-text="&raquo;" max-size="vm.pagination.maxSize" items-per-page="vm.pagination.itemsPerPage"
                num-pages="vm.paginationModel.numPages" ng-show="vm.showPagination()"
                ng-if="vm.visibility.hasPagination"></ul>
        </div>

    </div>
</div>