<div class="modal-header">
    <button type="button" class="close" aria-hidden="true" ng-click="vm.uibDismissPanel()">&times;</button>
    <h4 class="modal-title">Close Position</h4>
</div>

<div class="agm-component-orderpad modal-body modal-body-orderpad" tabindex="0" ng-keydown="vm.detectKeys($event)" id="orderPad">
    <agms-droid-helper-step-by-step-flow current-step-name="vm.currentStepName" last-step-name="vm.getProgressState()">
        <agms-droid-helper-single-step title="Order Detail" name="order-detail" show-navigator="false">
            <div class="row-md-3 close-position">
                <div class="col-md-2 left-div order-selection rel">
                    <div class="p-50px text-center" ng-show="vm.isSubmitting">
                        <img class="w-50px h-50px" src="//am708403.azureedge.net/images/static/loading.gif?" />
                    </div>
                    <div ng-show="!vm.isSubmitting">
                        <span class="pull-left">
                            <label>
                                <input type="checkbox"
                                       ng-model="vm.isDefaultSelected"
                                       ng-change="vm.applyDefaultSettings()"
                                       ng-disabled="vm.selectedStrategy == null" />
                                Apply Default Settings
                            </label>
                        </span>
                        <a ng-click="vm.goToDefaultSettings('')"><span class="pull-right edit-settings m-top-5px">Edit Default Settings</span></a>
                    </div>
                    <div class="clearfix m-bottom-10px"></div>
                    <form name="orderpad" ng-show="!vm.isSubmitting">
                        <section class="m-top-10px separator-top order-form">
                            <div>
                                <fieldset ng-disabled="vm.selectedStrategy == null"
                                          ng-class="{'disabled-opacity':vm.selectedStrategy == null}">
                                    <dl class="dl-horizontal-100px order-details">
                                        <dt>Action</dt>
                                        <dd>
                                            {{vm.order.Action}}
                                        </dd>
                                    </dl>
                                    <dl class="dl-horizontal-100px order-details">
                                        <dt>Product</dt>
                                        <dd>{{vm.order.Product.Symbol}} - {{vm.order.Product.ProductName}}</dd>
                                    </dl>
                                    <dl class="dl-horizontal-100px order-details">
                                        <dt>Quantity</dt>
                                        <dd>
                                            <input ng-model="vm.order.inputNominalQuantity" type="number" min="0" ng-model-options="{debounce: 200}" ng-change="vm.updateOrderQuantity()" class="w-90px m-right-5px" />
                                            <select ng-disabled="!vm.order.Product || !vm.order.Product.ProductId" ng-model="vm.order.quantityType" ng-options="quantityType for quantityType in vm.quantityTypes" ng-change="vm.updateOrderQuantity()" class="select-type"></select>
                                            <i class="strong m-left-5px" ng-if="vm.order.quantityType=='Lot' && vm.order.Product"><br />(1 Lot = {{vm.order.Product.LotSize}} units)</i>
                                            <i class="strong m-left-5px" ng-if="vm.order.quantityType=='K Lot' && vm.order.Product"><br />(1 K Lot = 1000 units)</i>
                                        </dd>
                                    </dl>
                                    <dl class="dl-horizontal-100px order-details">
                                        <dt>Type</dt>
                                        <dd>
                                            <select ng-model="vm.order.OrderType" ng-options="orderType as orderType for orderType in vm.orderTypes" ng-change="vm.onOrderTypeChanged()"></select>
                                        </dd>
                                    </dl>

                                    <fieldset ng-disabled="!vm.order.Product || !vm.order.Product.ProductId">
                                        <dl class="dl-horizontal-100px order-details">
                                            <dt ng-show="vm.order.OrderType==='Limit'">Limit Price</dt>
                                            <dd ng-show="vm.order.OrderType==='Limit'">
                                                <span class="pull-left m-right-10px" ng-if="vm.order.Product != null">{{vm.order.Product.Currency | currencySymbol}}</span>
                                                <input ng-model-options="{debounce: 200}" type="number" step="0.0001" class="pull-left w-100px" ng-model="vm.order.LimitPrice" ng-change="vm.onPriceChanges()" />
                                                <div class="up-down-buttons pull-left">
                                                    <button ng-click="vm.decreaseLimitPrice()" ng-disabled="!vm.order.Product || !vm.order.LimitPrice" class="mini-filled-red"><span class="glyphicon glyphicon-arrow-down"></span></button>
                                                    <button ng-click="vm.increaseLimitPrice()" ng-disabled="!vm.order.Product || !vm.order.LimitPrice" class="mini-filled-green"><span class="glyphicon glyphicon-arrow-up"></span></button>
                                                </div>
                                                <div class="clearfix"></div>
                                            </dd>
                                        </dl>
                                        <dl class="dl-horizontal-100px order-details">
                                            <dt ng-show="vm.order.OrderType==='Stop'">Stop Price</dt>
                                            <dd ng-show="vm.order.OrderType==='Stop'">
                                                <span class="lh-30px pull-left m-right-10px">{{vm.order.Product.Currency | currencySymbol}}</span>
                                                <input ng-model-options="{debounce: 200}" type="number" step="0.0001" class="pull-left w-100px" ng-model="vm.order.StopPrice" ng-change="vm.onPriceChanges()" />
                                                <div class="up-down-buttons pull-left">
                                                    <button ng-click="vm.decreaseStopPrice()" ng-disabled="!vm.order.Product || !vm.order.StopPrice" class="mini-filled-red"><span class="glyphicon glyphicon-arrow-down"></span></button>
                                                    <button ng-click="vm.increaseStopPrice()" ng-disabled="!vm.order.Product || !vm.order.StopPrice" class="mini-filled-green"><span class="glyphicon glyphicon-arrow-up"></span></button>
                                                </div>
                                                <div class="clearfix"></div>
                                            </dd>
                                        </dl>
                                    </fieldset>
                                    <dl class="dl-horizontal-100px order-details">
                                        <dt>Validity</dt>
                                        <dd>
                                            <label><input type="radio" ng-model="vm.order.Validity" value="GTC" class="validity" />GTC</label>
                                            <label><input type="radio" ng-model="vm.order.Validity" value="Day" />Day</label>
                                        </dd>
                                    </dl>
                                    <dl class="dl-horizontal-100px order-details" ng-if="vm.isBracketOrderShown()">
                                        <div class="bracket-order">
                                            <input type="checkbox" ng-model="vm.order.HasBracketOrder" ng-change="vm.onHasBracketOrderChanged(vm.order)" class="no-margin">
                                            <span>Attach Bracket Order</span>
                                        </div>
                                    </dl>

                                    <section class="bracket" ng-show="vm.order.HasBracketOrder">
                                        <dl>
                                            <dt>
                                                <input type="checkbox" ng-model="vm.order.HasAttachedTP" ng-change="vm.onAttachedBracketOrderChanged()" />
                                                <span>Take Profit</span>
                                            </dt>
                                            <dd ng-if="vm.order.HasAttachedTP">
                                                <span class="type">{{vm.order.TakeProfitOrder.OrderType}}</span>
                                                <div class="price-and-currency">
                                                    <span class="currency">
                                                        {{vm.order.Product.Currency | currencySymbol}}
                                                    </span>
                                                    <input ng-model-options="{debounce: 200}" class="price" ng-model="vm.order.TakeProfitOrder.LimitPrice" type="number" placeholder="Price" step="0.0001" />
                                                </div>
                                                <div class="up-down-buttons pull-left">
                                                    <button ng-click="vm.decreaseTakeProfitPrice(vm.order)" ng-disabled="!vm.order.HasAttachedTP" class="mini-filled-red"><span class="glyphicon glyphicon-arrow-down"></span></button>
                                                    <button ng-click="vm.increaseTakeProfitPrice(vm.order)" ng-disabled="!vm.order.HasAttachedTP" class="mini-filled-green"><span class="glyphicon glyphicon-arrow-up"></span></button>
                                                </div>
                                                <span class="percentage green-profit" ng-if="vm.computeBracketOrderPercentage(vm.order,vm.order.TakeProfitOrder.LimitPrice) >= 0">{{vm.computeBracketOrderPercentage(vm.order,vm.order.TakeProfitOrder.LimitPrice) | toPercentAllowingZero}} Gain</span>
                                                <span class="percentage red-loss" ng-if="vm.computeBracketOrderPercentage(vm.order,vm.order.TakeProfitOrder.LimitPrice) < 0">{{vm.computeBracketOrderPercentage(vm.order,vm.order.TakeProfitOrder.LimitPrice) | toPercentAllowingZero}} Loss</span>
                                            </dd>
                                        </dl>
                                        <dl>
                                            <dt>
                                                <input type="checkbox" ng-model="vm.order.HasAttachedSL" ng-change="vm.onAttachedBracketOrderChanged()" />
                                                <span>Stop Loss</span>
                                            </dt>
                                            <dd ng-if="vm.order.HasAttachedSL">
                                                <span class="type">{{vm.order.StopLossOrder.OrderType}}</span>
                                                <div class="price-and-currency">
                                                    <span class="currency">
                                                        {{vm.order.Product.Currency | currencySymbol}}
                                                    </span>
                                                    <input ng-model-options="{debounce: 200}" class="price" ng-model="vm.order.StopLossOrder.StopPrice" type="number" placeholder="Price" step="0.0001" />
                                                </div>
                                                <div class="up-down-buttons pull-left">
                                                    <button ng-click="vm.decreaseCutLossPrice(vm.order)" ng-disabled="!vm.order.HasAttachedSL" class="mini-filled-red"><span class="glyphicon glyphicon-arrow-down"></span></button>
                                                    <button ng-click="vm.increaseCutLossPrice(vm.order)" ng-disabled="!vm.order.HasAttachedSL" class="mini-filled-green"><span class="glyphicon glyphicon-arrow-up"></span></button>
                                                </div>
                                                <span class="percentage green-profit" ng-if="vm.computeBracketOrderPercentage(vm.order,vm.order.StopLossOrder.StopPrice) >= 0">{{vm.computeBracketOrderPercentage(vm.order,vm.order.StopLossOrder.StopPrice) | toPercentAllowingZero}} Gain</span>
                                                <span class="percentage red-loss" ng-if="vm.computeBracketOrderPercentage(vm.order,vm.order.StopLossOrder.StopPrice) < 0">{{vm.computeBracketOrderPercentage(vm.order,vm.order.StopLossOrder.StopPrice) | toPercentAllowingZero}} Loss</span>
                                            </dd>
                                        </dl>
                                    </section>

                                    <div class="lh-30px text-right error-message p-right-20px"
                                         ng-if="vm.isCapitalMightExceed()">
                                        Capital used will likely exceed trading capital. Your order may be rejected.
                                    </div>
                                    <div class="text-right error-message p-right-20px" ng-if="vm.validationMessage">{{vm.validationMessage}}</div>
                                </fieldset>
                            </div>
                        </section>
                        <div class="submit-container m-top-10px separator-top p-top-10px">
                            <button class="hollow-blue pull-left"
                                    ng-click="vm.clear(); vm.clearTransactionInfo();">
                                CLEAR
                            </button>

                            <button class="filled-blue pull-right"
                                    ng-disabled="vm.disableConfirm()"
                                    ng-click="vm.confirm();"
                                    analytics-on analytics-category="Trade"
                                    analytics-event="ConfirmOrder"
                                    agmc-analytics-timestamp>
                                CONFIRM
                            </button>
                        </div>
                    </form>
                </div>
                <div class="col-md-1 rel right-div" ng-if="vm.selectedStrategy != null">
                    <div class="text-center m-top-10px">
                        <span class="gray-text">SELECTED TRADE PORTFOLIO:</span>
                    </div>
                    <div class="clearfix m-bottom-10px"></div>
                    <div class="w-150px account">
                        <agms-strategy-commerce-portrait class="border"
                                                         strategy="vm.selectedStrategy.DisplayInfo"
                                                         disable-click-strategy="true"
                                                         level-of-detail="5"></agms-strategy-commerce-portrait>
                    </div>
                    <div class="text-center">
                        <span class="gray-text bigger">{{vm.selectedStrategy.DisplayInfo | strategyName}}</span>
                    </div>
                    <div class="text-center">
                        <span class="gray-text bigger">({{vm.selectedStrategy.BrokerageDetail.BrokerageType}} {{vm.selectedStrategy.BrokerageDetail.AccountNumber}})</span>
                    </div>
                    <div class="clearfix"></div>
                    <div ng-if="vm.order.Product">
                        <h4>{{vm.order.Product.ProductName}}</h4>
                        <div class="row-md-2 gap-10px">
                            <div class="col-md-1">
                                <div class="bid-ask transition-fast" ng-class="vm.order.Product.bidPriceChanged">
                                    BID: <h4 ng-if="vm.order.Product.bidPrice">{{vm.order.Product.Currency | currencySymbol}} {{vm.order.Product.bidPrice}}</h4>
                                    <h4 ng-if="!vm.order.Product.bidPrice">-</h4>
                                    VOL: <span ng-if="vm.order.Product.bidSize">{{vm.order.Product.bidSize | largeAmountValue:2:true}}</span>
                                    <span ng-if="!vm.order.Product.bidSize">-</span>
                                </div>
                            </div>
                            <div class="col-md-1">
                                <div class="bid-ask transition-fast" ng-class="vm.order.Product.askPriceChanged">
                                    ASK: <h4 ng-if="vm.order.Product.askPrice">{{vm.order.Product.Currency | currencySymbol}} {{vm.order.Product.askPrice}}</h4>
                                    <h4 ng-if="!vm.order.Product.askPrice">-</h4>
                                    VOL: <span ng-if="vm.order.Product.askSize">{{vm.order.Product.askSize | largeAmountValue:2:true}}</span>
                                    <span ng-if="!vm.order.Product.askSize">-</span>
                                </div>
                            </div>
                            <div class="clearfix"></div>
                        </div>
                    </div>
                    <div class="p-left-5px p-right-5px strategy-info">
                        <div>
                            <div ng-if="vm.isEntering()">
                                <span class="pull-left"><strong>Capital Available</strong></span>
                                <span class="pull-right">{{vm.selectedStrategy.CapitalInfo.TradingCapital | customCurrencyOrDash:vm.selectedStrategy.CapitalInfo.Currency:2}}</span>
                                <div class="clearfix m-bottom-5px"></div>
                                <span class="pull-left"><strong>Capital Used</strong></span>
                                <span class="pull-right">{{vm.transactionInfo.CapitalUsed | customCurrencyOrDash:vm.selectedStrategy.CapitalInfo.Currency:2}}</span>
                                <div class="clearfix m-bottom-5px"></div>
                            </div>
                            <span class="pull-left"><strong>Trade Amount</strong></span>
                            <span class="pull-right">{{vm.transactionInfo.TradeAmount | customCurrencyOrDash:vm.selectedStrategy.CapitalInfo.Currency:2}}</span>
                        </div>
                        <div class="clearfix m-bottom-5px"></div>
                    </div>

                    <div ng-if="vm.selectedStrategy != null && vm.order.Product.ProductId" class="m-top-30px">
                        <span class="text-center"><b>YOUR CURRENT POSITION FOR {{vm.order.Product.Symbol}}:</b></span>
                        <div class="clearfix m-bottom-5px">
                            <table ng-if="vm.positionAndIntention.position.QuantityOnHold>0">
                                <tr>
                                    <td class="w-110px"><b>Position</b></td>
                                    <td>{{vm.positionAndIntention.position.PositionType}}</td>
                                <tr>
                                    <td><b>Quantity</b></td>
                                    <td>{{vm.positionAndIntention.position.QuantityOnHold | valueOrDash:0}}</td>
                                </tr>
                                <tr>
                                    <td><b>Entry Price</b></td>
                                    <td>{{vm.positionAndIntention.position.AverageEntryPrice | customCurrencyOrDashMinMax:vm.order.Product.Currency:2:4}}</td>
                                </tr>
                                <tr ng-if="vm.positionAndIntention.position.AverageEntryPrice>0">
                                    <td><b>Unrealized P/L</b></td>
                                    <td ng-class="vm.computeUnrealizedPL()>=0?['green-profit']:['red-loss']">
                                        {{ vm.computeUnrealizedPL() | customCurrencyOrDash:vm.order.Product.Currency:2}}<br />
                                        ({{vm.computeUnrealizedPLPercentage() | valuePercentageOrDash:2}})
                                    </td>
                                </tr>
                            </table>
                            <span ng-if="!vm.positionAndIntention.position || vm.positionAndIntention.position.QuantityOnHold<=0">
                                No open position
                            </span>
                        </div>
                    </div>

                    <div ng-if="vm.showActiveOrder()" class="alert alert-warning white-box">
                        <span class=" text-right  error-message"></span>
                        <span ng-if="!vm.isActiveOrderPendingCancellation()">
                            You have an active order for {{vm.currentActiveOrder.Product.ProductName}} ({{vm.currentActiveOrder.Product.Symbol}})
                        </span>
                        <span ng-if="vm.isActiveOrderPendingCancellation()">
                            You have an active order for {{vm.currentActiveOrder.Product.ProductName}} ({{vm.currentActiveOrder.Product.Symbol}}) which is pending cancellation
                        </span>
                        <button class="mini-filled-red pull-right m-top-10px" ng-click="vm.showMessageForActiveOrderPopup()" ng-if="!vm.isActiveOrderPendingCancellation()">CANCEL EXISTING ACTIVE ORDER</button>
                        <div class="clearfix"></div>
                    </div>

                </div>
                <div class="col-md-1 rel right-div" ng-if="vm.selectedStrategy == null">
                    <div class="text-center m-top-50px">
                        <span class="gray-text bigger">No Trade Portfolio Selected</span>
                    </div>
                </div>
                <div class="clearfix"></div>
            </div>
        </agms-droid-helper-single-step>
        <agms-droid-helper-single-step title="Confirm" name="confirm" show-navigator="false">
            <div class="p-50px text-center" ng-if="vm.isSubmitting">
                <img class="w-50px h-50px" src="//am708403.azureedge.net/images/static/loading.gif?" />
            </div>
            <agms-orders-confirm go-back="vm.goBack" ng-if="!vm.isSubmitting" confirmed-order="vm.confirmedOrder" quantity-type="vm.order.quantityType" submit="vm.submit" is-follow-order="false"></agms-orders-confirm>
        </agms-droid-helper-single-step>
    </agms-droid-helper-step-by-step-flow>
</div>