<?xml version="1.0" encoding="utf-8"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <configSections>
    <section name="frontEndLayout" type="AlgoWebClient.Config.FrontEndLayoutConfig, AlgoWebClient" />
    <sectionGroup name="system.web.extensions" type="System.Web.Configuration.SystemWebExtensionsSectionGroup, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35">
      <sectionGroup name="scripting" type="System.Web.Configuration.ScriptingSectionGroup, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35">
        <section name="scriptResourceHandler" type="System.Web.Configuration.ScriptingScriptResourceHandlerSection, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" requirePermission="false" allowDefinition="MachineToApplication" />
        <sectionGroup name="webServices" type="System.Web.Configuration.ScriptingWebServicesSectionGroup, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35">
          <section name="jsonSerialization" type="System.Web.Configuration.ScriptingJsonSerializationSection, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" requirePermission="false" allowDefinition="Everywhere" />
        </sectionGroup>
      </sectionGroup>
    </sectionGroup>
  </configSections>
  <frontEndLayout>
    <!--<ContentfulCms FaqToken="82ec1ce7555789d8f6455b4df94d8b5bcc816274c3cd83d9961580696564f631" FaqSpaceId="s090hiq4vz7l" 
                   ChartSpaceId="s090hiq4vz7l" ChartToken="82ec1ce7555789d8f6455b4df94d8b5bcc816274c3cd83d9961580696564f631"/>-->
    <ContentfulCms FaqToken="267942b4e42bbbb72daf6d748fe63b412bb5b61919cf38c40248b591fdb05ea1"
                   FaqSpaceId="qxtk572rqgyg"
                   ChartSpaceId="qxtk572rqgyg"
                   ChartToken="267942b4e42bbbb72daf6d748fe63b412bb5b61919cf38c40248b591fdb05ea1"
                   />
    <General FileUploadSizeLimitMB="10" ImageUploadCropLimitMB="2"
             ShowAutoInvest="true" ShowToolsPanel="true" ShowFaq="true" ShowPriceAlert="true"
             ShowFollowAndTradeButtonsInGroup="false" PaymentEnabled="true"
             ShowProductPage="true" AutoApproveNewRegisteredUser="true"
             ShowReferral="true"
             AmAutoAddress="http://localhost:29739"
             WebSecret="YJalNmopXwbap4j6"
             />
    <TradersGPS HasAlertConfig="true" TradeVenues="US,SG,HK,MY,CHN"></TradersGPS>
    <Profile ShowTurnoverOptions="false"/>
    <MarketPlace HasFeaturedMenu="false" HasIndicesForexCommodities="false"/>
    <Trading ShowBracketOrder="false" OffSetBracketOrderValue="5" OrderTicksNum="20" OrderLevelMargin="50" EnableDailyTrading="true" EnableComment="false" HasCancellation="true"/>
    <StrategyCreation AssetClasses="Stocks &amp; ETFs,Index Futures,Index Futures CFD" TradeVenues="US,SG,UK,HK"/>
    <MarketScreener AssetClasses="Stocks &amp; ETFs" BasicScreenerTradeVenues="SG,US" CustomScreenerTradeVenues="SG,US"/>
    <StrategyPublishing AllowIncludeApiAccess="false" AllowIncludeDiscount="false" AllowVariableFee="false" MinVacancy="10" MaxVacancy="9999"/>
    <StrategyManagement EnableDeleteStrategy="true" />
    <!--<PaladinStrategy Basic_ShortTerm="1647" Basic_MidTerm="1648"
                     Moderate_ShortTerm="1650" Moderate_MidTerm="810"
                     Strong_ShortTerm="1646" Strong_MidTerm="1649"/>-->
    <PaladinStrategy Basic_ShortTerm="539" Basic_MidTerm="539" 
                     Moderate_ShortTerm="539" Moderate_MidTerm="539" 
                     Strong_ShortTerm="539" Strong_MidTerm="539"/>
    <AlgoFeed ShowTAOnly="false" AllowOwnEvents="true" Markets="SG,US" />
    <Stripe PublishableKey="pk_test_qglxaaTc8EHXNkdoNzLGnnjy" SupportedCountries="Singapore" SupportedCurrencies="SGD"/>
    <Chart EnableRealTimeMode="true" NoIntradayMarkets="HK,MY"></Chart>
    <SmsNotification BundleName="Trading Signal SMS Notification"></SmsNotification>
    <AlgoLeader PremiumBundleName="Premium Membership" HideForAlgoLeader="false"
                ChartRedirectionAddress="https://staging.algomerchant.com"></AlgoLeader>
    <AlgoOracle ShowRobot="true"></AlgoOracle>
    <Shop AutoInvestPrice="50" VMPrice="80" PublicStrategyIds="547,546,431" DisabledStrategyIds="431,431"></Shop>
  </frontEndLayout>
  <appSettings>
    <!--We don't fully understand what these configs are, please find out what they mean before touching them-->
    <add key="ClientValidationEnabled" value="true" />
    <add key="UnobtrusiveJavaScriptEnabled" value="true" />
    <add key="ApiServerAddress" value="" />
    <add key="MarketDataServerAddress" value="https://stagingmds.algomerchant.com" />
    <add key="MarketDataServerAddressDelayed" value="https://stagingmdsdelayed.algomerchant.com" />

    <add key="FacebookPixelId" value="2109593302698112" />
    <add key="GoogleAnalyticsId" value="UA-57483725-4" />
  </appSettings>
  <system.web.extensions>
    <scripting>
      <webServices>
        <jsonSerialization maxJsonLength="500000000" recursionLimit="50000" />
      </webServices>
    </scripting>
  </system.web.extensions>
  <system.web>
    <authentication mode="None" />
    <customErrors mode="RemoteOnly" />
    <compilation targetFramework="4.5" debug="true">
      <assemblies>
        <add assembly="System.Runtime, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a" />
      </assemblies>
    </compilation>
    <httpRuntime targetFramework="4.5" maxRequestLength="9000000" />
    <httpHandlers />
  </system.web>
</configuration>
