<?xml version="1.0" encoding="utf-8"?>

<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
  <appSettings>
    <add xdt:Transform="Replace" xdt:Locator="Match(key)" key="MarketDataServerAddress" value="https://stagingmds.algomerchant.com" />
    <add xdt:Transform="Replace" xdt:Locator="Match(key)" key="MarketDataServerAddressDelayed" value="https://stagingmdsdelayed.algomerchant.com" />
  </appSettings>
  <frontEndLayout>
    <General xdt:Transform="SetAttributes"
             FileUploadSizeLimitMB="10"
             ImageUploadCropLimitMB="2"
             ShowAutoInvest="true"
             ShowToolsPanel="true"
             ShowFaq="true"
             ShowPriceAlert="true"
             ShowFollowAndTradeButtonsInGroup="false"
             PaymentEnabled="true"
             AutoApproveNewRegisteredUser="true"
             ShowReferral="true"
             ShowTradeIdea="true"
             ShowTrendDrawing="true"
             ShowDirectTrade="true"
             AmAutoAddress="https://staging.algomerchant.com">
    </General>
    <Profile ShowTurnoverOptions="false"></Profile>
    <Trading xdt:Transform="Replace"
             ShowBracketOrder="false"
             OffSetBracketOrderValue="5"
             OrderTicksNum="20"
             OrderLevelMargin="50"
             EnableDailyTrading="true"
             EnableComment="false"
             HasCancellation="true">
    </Trading>
    <StrategyCreation xdt:Transform="Replace"
                      AssetClasses="Stocks &amp; ETFs,Index Futures,Index Futures CFD"
                      TradeVenues="SG,US,HK"></StrategyCreation>
    <MarketScreener xdt:Transform="Replace" AssetClasses="Stocks &amp; ETFs" BasicScreenerTradeVenues="SG,US" CustomScreenerTradeVenues="SG,US"/>
    <StrategyPublishing xdt:Transform="SetAttributes(ShowActiveInactiveSubscriptionFilter)"
                        ShowActiveInactiveSubscriptionFilter="false"></StrategyPublishing>
    <StrategyManagement xdt:Transform="SetAttributes"
                        EnableDeleteStrategy="true"></StrategyManagement>
    <AlgoFeed xdt:Transform="SetAttributes"
        ShowTAOnly="false"
        AllowOwnEvents="false">
    </AlgoFeed>
    <AlgoLeader xdt:Transform="SetAttributes"
                PremiumBundleName="Premium Membership"></AlgoLeader>
    <TradersGPS HasAlertConfig="false" Enabled="false" TradeVenues="US,SG,HK,MY,CHN"></TradersGPS>
    <Stripe xdt:Transform="SetAttributes"
                      SupportedCountries="Singapore"
                      SupportedCurrencies="SGD">
    </Stripe>
    <AlgoOracle xdt:Transform="Replace" ShowRobot="true"></AlgoOracle>
    <Shop xdt:Transform="Replace" AutoInvestPrice="50" VMPrice="80" PublicStrategyIds="547,546,431" DisabledStrategyIds="431,431"></Shop>
  </frontEndLayout>  
</configuration>
