<div class="complex-selector form">
    <div class="dropdowns">
        <div uib-dropdown>
            <button class="btn btn-block" type="button" uib-dropdown-toggle>
                {{vm.displayedLabel}}
                <span class="caret"></span>
            </button>

            <ul uib-dropdown-menu class="dropdown-menu">
                <li class="dropdown-header">Markets</li>
                <li ng-repeat="market in vm.markets">
                    <a ng-click="vm.loadProductsFromMarket(market)">
                        {{::market.label}}
                    </a>
                </li>                
            </ul>
        </div>
        <div uib-dropdown ng-if="vm.hasAlphabet">
            <button type="button" uib-dropdown-toggle class="btn">{{vm.selectedAlphabet}} <span class="caret"></span></button>
            <ul class="dropdown-menu" uib-dropdown-menu>
                <li ng-repeat="alphabet in ::vm.alphabets track by alphabet">
                    <a ng-click="vm.setAlphabet(alphabet)">{{::alphabet}}</a>
                </li>
            </ul>
        </div>
    </div>
    <div class="sorting-area" ng-if="vm.isSelectingWatchlist">
        Sort by: 
        <select ng-model="vm.watchlistSelectedSotringType" ng-change="vm.sortWatchlist(vm.watchlistSelectedSotringType)">
            <option value="A-Z">A - Z</option>
            <option value="Z-A">Z - A</option>
            <option value="time-asc">Date Added</option>
        </select>
    </div>
    <div class="selection-panel">
        <ul class="list-group product-list">
            <li class="list-group-item" ng-repeat="product in vm.getDisplayedProduct()" ng-if="!vm.isSelectingWatchlist"
                ng-class="{selected:vm.isPrimaryProduct(product)}">
                <a ng-click="vm.setProduct(product)">
                    {{::product.ProductName | uppercase}}
                </a>
            </li>
            <li class="list-group-item watchlist" ng-repeat="product in vm.getDisplayedProduct()" ng-if="vm.isSelectingWatchlist"
                ng-class="{selected:vm.isPrimaryProduct(product.ProductModel)}">
                <div class="row-md-7 gap-0px">
                    <div class="col-md-6">
                        <a ng-click="vm.setProduct(product.ProductModel)">
                            {{::product.ProductModel.ProductName | uppercase}}
                        </a>
                    </div>
                    <div class="col-md-1">
                        <span class="algoicon algoicons-news-1"
                              uib-tooltip="Edit Notes" tooltip-placement="left" ng-click="vm.editNote(product)"
                              ng-class="{'highlighted':product.Notes !== null && product.Notes !== ''}"></span>
                    </div>
                    <div class="clearfix"></div>
                </div>
            </li>
        </ul>
    </div>
</div>